html,
body {
  height: 100%; }

body.desktop {
  padding-top: 50px !important; }

body.desktop.has-bootcards-navbar-double {
  padding-top: 80px !important; }

.desktop .bootcards-hidden-desktop {
  display: none; }

.modal-backdrop.in {
  position: fixed; }

.btn i.no-margin {
  margin: 0; }

/* NAV */
.desktop .resilify-navbar-centered .navbar-brand {
  text-align: center;
  display: block;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1; }
.desktop .resilify-navbar-centered .btn {
  padding-top: 12px;
  padding-bottom: 12px; }
  .desktop .resilify-navbar-centered .btn i {
    font-size: 24px; }
@media (max-width: 767px) {
  .desktop .resilify-navbar-centered .navbar-nav {
    margin: 4px 0; } }
.desktop .resilify-navbar-centered .navbar-nav.navbar-left {
  float: left;
  margin-left: -15px; }
.desktop .resilify-navbar-centered .navbar-nav.navbar-right {
  float: right;
  margin-right: -15px; }

.desktop .navbar-inverse {
  background: #444; }
  .desktop .navbar-inverse .navbar-brand {
    font-weight: 500; }
  .desktop .navbar-inverse .navbar-brand,
  .desktop .navbar-inverse .navbar-text,
  .desktop .navbar-inverse .navbar-nav > li > a {
    color: #bbb; }
  .desktop .navbar-inverse span.navbar-brand,
  .desktop .navbar-inverse a.navbar-brand:hover,
  .desktop .navbar-inverse .navbar-nav > li > a:hover {
    color: white; }

.ios .navbar-collapse,
.android .navbar-collapse {
  display: none !important; }

.android .navbar .btn {
  line-height: 50px; }

/* GUIDANCE BAR */
.guidance-bar {
  background: #337ab7 !important;
  border: 0;
  height: auto !important;
  margin: 0;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 0; }
  .guidance-bar .row {
    padding: 15px 0; }
    .guidance-bar .row i.fa-long-arrow-right {
      position: absolute;
      right: -8px;
      top: 0;
      font-size: 21px;
      line-height: 21px;
      color: white; }
    .guidance-bar .row h4 {
      color: white;
      margin: 0;
      font-weight: 300;
      line-height: 1.3;
      font-size: 17px; }
      .guidance-bar .row h4 .badge {
        position: relative;
        top: -1px;
        margin-right: 3px;
        background: #5bc0de; }
    .guidance-bar .row .btn-group .btn {
      color: white;
      opacity: 0.7;
      text-decoration: none;
      transition: all 0.3s ease;
      font-size: 17px; }
      .guidance-bar .row .btn-group .btn:hover, .guidance-bar .row .btn-group .btn:active {
        opacity: 1; }

.ios .guidance-bar {
  top: 44px; }

.android .guidance-bar {
  -webkit-box-shadow: none;
  border: 0; }
  .android .guidance-bar .btn {
    line-height: 20px; }

/* MODALS */
.ios .modal-dialog .modal-content {
  z-index: 1; }
.ios .modal-dialog .modal-header {
  padding: 0; }
  .ios .modal-dialog .modal-header .btn {
    padding: 0 15px;
    line-height: 44px; }
    .ios .modal-dialog .modal-header .btn i {
      vertical-align: 0; }
    .ios .modal-dialog .modal-header .btn span {
      font-size: 14px; }
.ios .modal-dialog .modal-body {
  z-index: -1; }

.android .table-view-modal .modal-dialog {
  margin: 0; }

.android .modal-dialog .modal-header {
  padding: 0; }
  .android .modal-dialog .modal-header .btn {
    padding: 0 15px;
    line-height: 50px;
    margin-top: 0; }
    .android .modal-dialog .modal-header .btn i {
      vertical-align: 0; }
    .android .modal-dialog .modal-header .btn span {
      font-size: 14px; }

.desktop .modal-title {
  line-height: 34px; }

/* ACCORDION */
.bootcards-accordion .list-group-item.bootcards-list-subheading {
  background: #f5f5f5 !important;
  padding-left: 48px; }
  .bootcards-accordion .list-group-item.bootcards-list-subheading:before {
    font-size: 24px;
    width: 20px;
    color: #337ab7;
    transition: all 0.3s ease; }
  .bootcards-accordion .list-group-item.bootcards-list-subheading .list-group-item-heading {
    font-size: 16px;
    font-weight: 500; }
  .bootcards-accordion .list-group-item.bootcards-list-subheading .list-group-item-text {
    font-weight: normal; }

.bootcards-panel-collapsing {
  margin-bottom: 15px;
  border-color: #bbb; }
  .bootcards-panel-collapsing .panel-heading {
    border: 0;
    padding-left: 50px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease; }
    .bootcards-panel-collapsing .panel-heading .bootcards-panel-collapsing-indicator {
      line-height: 20px;
      font-size: 24px;
      width: 24px;
      text-align: center;
      margin-top: 7px;
      color: #337ab7;
      position: absolute;
      left: 15px;
      top: 50%;
      margin-top: -12px;
      transition: all 0.3s ease; }
    .bootcards-panel-collapsing .panel-heading:hover, .bootcards-panel-collapsing .panel-heading:focus, .bootcards-panel-collapsing .panel-heading:active {
      background: #f5f5f5; }
      .bootcards-panel-collapsing .panel-heading:hover .bootcards-panel-collapsing-indicator, .bootcards-panel-collapsing .panel-heading:focus .bootcards-panel-collapsing-indicator, .bootcards-panel-collapsing .panel-heading:active .bootcards-panel-collapsing-indicator {
        color: #23527c; }
    .bootcards-panel-collapsing .panel-heading.collapsed {
      border-radius: 4px; }
      .bootcards-panel-collapsing .panel-heading.collapsed .bootcards-panel-collapsing-indicator {
        -webkit-transform: rotate(-90deg); }
  .bootcards-panel-collapsing .panel-body {
    border-top: 1px solid #ddd; }

/* CANVAS */
/* Guidance bar */
.resilify-canvas-page .guidance-bar {
  height: 100px !important;
  overflow: hidden; }
  .resilify-canvas-page .guidance-bar .btn-group {
    margin-top: -5px;
    margin-bottom: -10px; }
    .resilify-canvas-page .guidance-bar .btn-group .btn {
      padding-left: 10px;
      padding-right: 10px; }

.android.resilify-canvas-page .guidance-bar h4 {
  font-size: 15px;
  line-height: 22px; }
.android.resilify-canvas-page .guidance-bar .btn {
  font-size: 15px; }

/* Rows */
.canvas-row {
  position: fixed;
  left: 0;
  right: 0;
  top: 150px;
  /* Space for navbar & guidance bar */
  bottom: 0;
  margin: 0;
  background: #eee; }
  .canvas-row .canvas-column {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    border-right: 1px solid #ccc; }
    .canvas-row .canvas-column .canvas-column-header {
      padding: 10px 0; }
      .canvas-row .canvas-column .canvas-column-header .btn {
        padding: 0;
        font-size: 24px;
        margin: 0 15px; }
        .canvas-row .canvas-column .canvas-column-header .btn i {
          margin: 0; }
    .canvas-row .canvas-column .canvas-item-heading {
      cursor: pointer;
      transition: all 0.3s ease;
      margin: 0 15px 15px 15px;
      border-color: #bbb;
      overflow: hidden; }
      .canvas-row .canvas-column .canvas-item-heading:hover, .canvas-row .canvas-column .canvas-item-heading:focus, .canvas-row .canvas-column .canvas-item-heading:active {
        border-color: #5bc0de; }
      .canvas-row .canvas-column .canvas-item-heading .panel-heading {
        border: 0;
        position: relative;
        padding-left: 40px;
        background: #eee;
        transition: all 0.3s ease; }
        .canvas-row .canvas-column .canvas-item-heading .panel-heading:hover, .canvas-row .canvas-column .canvas-item-heading .panel-heading:focus, .canvas-row .canvas-column .canvas-item-heading .panel-heading:active {
          background: #fafafa; }
        .canvas-row .canvas-column .canvas-item-heading .panel-heading:after {
          content: "\f138";
          display: block;
          font-family: "FontAwesome";
          line-height: 20px;
          font-size: 18px;
          width: 24px;
          text-align: center;
          color: #337ab7;
          position: absolute;
          left: 10px;
          top: 50%;
          margin-top: -10px;
          transition: all 0.3s ease; }
        .canvas-row .canvas-column .canvas-item-heading .panel-heading h3 {
          font-size: 14px;
          line-height: 20px;
          margin: 0; }
      .canvas-row .canvas-column .canvas-item-heading[aria-expanded="true"] {
        margin-bottom: 15px; }
        .canvas-row .canvas-column .canvas-item-heading[aria-expanded="true"] .panel-heading:after {
          transform: rotate(90deg); }
    .canvas-row .canvas-column .canvas-item {
      padding: 15px;
      overflow: hidden;
      text-align: center;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease;
      color: #333;
      margin: 0 15px 15px 15px;
      min-height: 100px;
      border-color: #bbb;
      /* Chart */
      /* Checkbox */
      /* Progress */
      /* Clock */
      /* Icon */
      /* Label */ }
      .canvas-row .canvas-column .canvas-item:hover, .canvas-row .canvas-column .canvas-item:focus, .canvas-row .canvas-column .canvas-item:active {
        border-color: #5bc0de; }
      .canvas-row .canvas-column .canvas-item .canvas-item-title {
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 15px 0; }
      .canvas-row .canvas-column .canvas-item .canvas-item-chart {
        font-size: 0;
        margin: 0 -15px -15px; }
        .canvas-row .canvas-column .canvas-item .canvas-item-chart canvas {
          width: 100% !important;
          height: 50px !important; }
      .canvas-row .canvas-column .canvas-item .canvas-item-checkbox {
        width: 32px;
        height: 32px;
        margin: 0 auto;
        margin-top: -5px;
        border-radius: 4px;
        border: 2px solid #999;
        color: #999;
        line-height: 28px;
        text-align: center;
        font-size: 18px; }
        .canvas-row .canvas-column .canvas-item .canvas-item-checkbox.text-danger {
          border-color: #d9534f; }
        .canvas-row .canvas-column .canvas-item .canvas-item-checkbox.text-success {
          border-color: #5cb85c; }
      .canvas-row .canvas-column .canvas-item .canvas-item-progress {
        margin-bottom: 0; }
      .canvas-row .canvas-column .canvas-item .canvas-item-clock {
        color: #777;
        font-size: 15px;
        font-weight: 500; }
        .canvas-row .canvas-column .canvas-item .canvas-item-clock span {
          display: block;
          font-size: 11px;
          font-weight: 500; }
      .canvas-row .canvas-column .canvas-item .canvas-item-icon {
        color: #999; }
      .canvas-row .canvas-column .canvas-item .text-danger {
        color: #d9534f; }
      .canvas-row .canvas-column .canvas-item .text-warning {
        color: #f0ad4e; }
      .canvas-row .canvas-column .canvas-item .text-success {
        color: #5cb85c; }
      .canvas-row .canvas-column .canvas-item .canvas-item-label {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
        padding: 0;
        line-height: 20px; }

.ios .canvas-row {
  top: 144px; }
  .ios .canvas-row .canvas-item-heading {
    background: transparent; }
    .ios .canvas-row .canvas-item-heading .panel-heading {
      padding-left: 30px;
      padding-right: 0;
      background: transparent !important; }
      .ios .canvas-row .canvas-item-heading .panel-heading:after {
        left: 0; }

.android .canvas-row .canvas-item-heading {
  background: transparent;
  border: 0; }
  .android .canvas-row .canvas-item-heading .panel-heading {
    padding-left: 30px;
    padding-right: 0;
    background: transparent !important; }
    .android .canvas-row .canvas-item-heading .panel-heading:after {
      left: 0; }

/* CANVAS ITEM MODAL */
.resilify-canvas-modal .subheader {
  font-size: 14px;
  line-height: 1.5;
  padding: 12px 15px; }
.resilify-canvas-modal .resilify-canvas-modal-subheading {
  text-align: center;
  margin: 0 0 15px;
  font-size: 16px; }
.resilify-canvas-modal .modal-body {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0; }
  .resilify-canvas-modal .modal-body:last-child {
    border-bottom: 0; }
.resilify-canvas-modal .modal-footer {
  border-top: 0;
  text-align: center; }
  .resilify-canvas-modal .modal-footer .btn {
    float: none; }
.resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts {
  padding: 0; }
  .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-subheading {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin: 0;
    font-size: 16px;
    font-weight: 500; }
  .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; }
    .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li {
      float: left;
      width: 12.5%; }
      .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a {
        display: block;
        text-align: center;
        padding: 15px 0;
        border-right: 1px solid #ddd;
        transition: all 0.3s ease;
        font-weight: bold; }
        .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a:hover, .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a:focus, .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a:active {
          text-decoration: none;
          background: #5bc0de;
          color: white; }
        .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a.impact-vlow {
          background: #29aa50; }
        .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a.impact-low {
          background: #5cb85c; }
        .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a.impact-medium {
          background: #f0ad4e; }
        .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a.impact-high {
          background: #d9534f; }
        .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a.impact-vhigh {
          background: #a60200; }
        .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a[class^="impact-"] {
          color: white;
          border: 0; }
      .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li:last-child a {
        border-right: 0; }
.resilify-canvas-modal#businessImpact1Modal .btn.add-type {
  margin-bottom: 15px; }
.resilify-canvas-modal#businessImpact1Modal .overall-analysis .form-group {
  padding-left: 50px;
  position: relative; }
.resilify-canvas-modal#businessImpact1Modal .overall-analysis .resilify-canvas-modal-help-icon {
  line-height: 20px;
  font-size: 24px;
  width: 24px;
  text-align: center;
  margin-top: 7px;
  color: #337ab7;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -12px;
  transition: all 0.3s ease;
  cursor: pointer; }
  .resilify-canvas-modal#businessImpact1Modal .overall-analysis .resilify-canvas-modal-help-icon:hover, .resilify-canvas-modal#businessImpact1Modal .overall-analysis .resilify-canvas-modal-help-icon:focus, .resilify-canvas-modal#businessImpact1Modal .overall-analysis .resilify-canvas-modal-help-icon:active {
    color: #23527c; }
.resilify-canvas-modal#impactGradingModal .modal-content {
  overflow: hidden; }
.resilify-canvas-modal#impactGradingModal .modal-title {
  text-align: left; }
.resilify-canvas-modal#impactGradingModal .resilify-impacts-grading {
  padding: 0; }
  .resilify-canvas-modal#impactGradingModal .resilify-impacts-grading ul {
    padding: 0;
    list-style: none;
    margin: 0;
    overflow: hidden;
    background: #c02927; }
    .resilify-canvas-modal#impactGradingModal .resilify-impacts-grading ul li {
      float: left;
      color: white;
      font-weight: bold;
      width: 20%;
      height: 100px;
      overflow: hidden;
      line-height: 100px;
      text-align: center;
      cursor: pointer; }
      .resilify-canvas-modal#impactGradingModal .resilify-impacts-grading ul li.impact-vlow {
        background: #29aa50; }
      .resilify-canvas-modal#impactGradingModal .resilify-impacts-grading ul li.impact-low {
        background: #5cb85c; }
      .resilify-canvas-modal#impactGradingModal .resilify-impacts-grading ul li.impact-medium {
        background: #f0ad4e; }
      .resilify-canvas-modal#impactGradingModal .resilify-impacts-grading ul li.impact-high {
        background: #d9534f; }
      .resilify-canvas-modal#impactGradingModal .resilify-impacts-grading ul li.impact-vhigh {
        background: #c02927; }
.resilify-canvas-modal#impactGradingCustomizeModal .modal-content {
  overflow: hidden; }
.resilify-canvas-modal#impactGradingCustomizeModal .modal-title {
  text-align: left; }
.resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading {
  padding: 0; }
  .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul {
    padding: 0;
    list-style: none;
    margin: 0;
    overflow: hidden;
    background: #c02927; }
    .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li {
      float: left;
      color: white;
      font-weight: bold;
      width: 20%;
      height: 100px;
      overflow: hidden;
      text-align: center;
      cursor: pointer;
      position: relative; }
      .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li.impact-vlow {
        background: #29aa50; }
      .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li.impact-low {
        background: #5cb85c; }
      .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li.impact-medium {
        background: #f0ad4e; }
      .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li.impact-high {
        background: #d9534f; }
      .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li.impact-vhigh {
        background: #c02927; }
      .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li label {
        line-height: 40px;
        height: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li textarea {
        position: absolute;
        top: 40px;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent;
        border: 0;
        box-shadow: none;
        text-align: center;
        color: white;
        font-weight: normal;
        font-size: 18px;
        resize: none;
        padding: 0 10px; }
.resilify-canvas-modal#businessImpact2Modal .panel-title span {
  font-weight: normal; }
.resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table {
  margin: 0;
  border-top: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }
  .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table th {
    text-align: center;
    border-bottom-width: 1px; }
  .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table th:first-child, .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table td:first-child {
    border-left: 0; }
  .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table th:last-child, .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table td:last-child {
    border-right: 0; }
  .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table tr:last-child th, .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table tr:last-child td {
    border-bottom: 0; }
  .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table .form-control {
    border: 0;
    text-align: center;
    box-shadow: none;
    height: auto;
    color: #337ab7;
    resize: none;
    padding-left: 0;
    padding-right: 0; }
  .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table textarea {
    text-align: left !important; }
.resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-totals input {
  width: 50px;
  margin-left: 10px;
  text-align: center; }
.resilify-canvas-modal#businessImpact2Modal .btn.add-type {
  margin-bottom: 15px; }
.resilify-canvas-modal#riskAnalysisModal .risk-analysis-linked-items {
  margin-bottom: 10px; }
  .resilify-canvas-modal#riskAnalysisModal .risk-analysis-linked-items .btn {
    margin-bottom: 5px; }
.resilify-canvas-modal#riskAnalysisModal .risk-analysis-impacts {
  margin-bottom: 0; }
  .resilify-canvas-modal#riskAnalysisModal .risk-analysis-impacts .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0; }
.resilify-canvas-modal#riskAnalysisModal .risk-analysis-likelihood {
  margin-bottom: 0; }
  .resilify-canvas-modal#riskAnalysisModal .risk-analysis-likelihood .btn {
    border-radius: 0;
    border-bottom: 0; }
.resilify-canvas-modal#riskAnalysisModal .risk-analysis-score .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.resilify-canvas-modal#riskGradingModal .resilify-risk-grading table {
  margin-bottom: 10px; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table th, .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td {
    border-color: white;
    border-left: 1px solid white;
    text-align: center;
    width: 14.2857%;
    padding: 10px !important; }
    .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table th:first-child, .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td:first-child {
      border-left: 0; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact {
    cursor: pointer;
    position: relative; }
    .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.1);
      display: none; }
    .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact:hover:after, .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact:focus:after, .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact:active:after {
      display: block; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact-vlow {
    background: #19aa50; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact-low {
    background: #5cb85c; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact-medium {
    background: #f0ad4e; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact-high {
    background: #d9534f; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact-vhigh {
    background: #c02927; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table th.impact-label {
    background: #eee; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table .impacts-heading {
    -webkit-transform: rotate(-90deg);
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -20px; }
.resilify-canvas-modal#strategyEvaluationModal .disabled {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
  padding-left: 0; }
.resilify-canvas-modal#strategyEvaluationModal .evaluation-rating {
  padding-right: 0; }
.resilify-canvas-modal#strategyEvaluationModal .is-selected label {
  margin-right: 15px; }

/* Scrolling Area */
.ios.resilify-dashboard-page {
  overflow-y: auto; }

@media (min-width: 768px) {
  .resilify-dashboard-page.desktop .navbar-brand {
    font-size: 36px; } }

/* DASHBOARD */
.resilify-dashboard-page .guidance-bar {
  position: static;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto; }

/* Tabs */
.resilify-dashboard-tabs {
  background: #337ab7; }
  .resilify-dashboard-tabs .nav > li > a {
    border-color: transparent !important;
    font-weight: 500;
    color: white;
    background: #539ad7;
    transition: all 0.3s ease;
    margin: 0 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .resilify-dashboard-tabs .nav > li > a i {
      font-size: 24px; }
    .resilify-dashboard-tabs .nav > li > a:hover, .resilify-dashboard-tabs .nav > li > a:focus, .resilify-dashboard-tabs .nav > li > a:active {
      background: #5bc0de; }
  .resilify-dashboard-tabs .nav > li.active > a {
    background: #f5f5f5;
    color: #333; }
  .resilify-dashboard-tabs .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%; }

.ios .resilify-dashboard-tabs .nav > li.active > a {
  background: #efeff4; }

.android .resilify-dashboard-tabs .nav > li.active > a {
  background: #eee; }

/* Dashboard Items */
.resilify-dashboard-items {
  margin-top: 30px;
  padding: 0 0 0 120px;
  position: relative; }
  @media (max-width: 768px) {
    .resilify-dashboard-items {
      padding-left: 0;
      margin-top: 20px; } }
  .resilify-dashboard-items hr {
    clear: both;
    border-color: #ddd;
    margin: 0 0 20px; }
    .resilify-dashboard-items hr.resilify-org-divider {
      border-width: 3px; }
  .resilify-dashboard-items .resilify-org-heading {
    color: #777;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500; }

.resilify-dashboard-add {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  text-decoration: none !important;
  font-weight: 500;
  transition: all 0.3s ease; }
  @media (max-width: 768px) {
    .resilify-dashboard-add {
      position: static;
      width: auto;
      margin-bottom: 20px; } }
  .resilify-dashboard-add i {
    display: block;
    font-size: 48px; }
    @media (max-width: 768px) {
      .resilify-dashboard-add i {
        display: inline-block;
        font-size: inherit; } }

.resilify-dashboard-item {
  cursor: pointer;
  border-color: #bbb;
  margin-bottom: 30px; }
  .resilify-dashboard-item:hover, .resilify-dashboard-item:focus, .resilify-dashboard-item:active {
    border-color: #5bc0de; }
  .resilify-dashboard-item .panel-body .resilify-dashboard-item-heading {
    overflow: hidden;
    height: 75px; }
    .resilify-dashboard-item .panel-body .resilify-dashboard-item-heading .canvas-icon {
      float: left;
      margin: 3px 15px 0 3px;
      height: 60px; }
    .resilify-dashboard-item .panel-body .resilify-dashboard-item-heading h3 {
      margin-top: 0;
      padding: 0;
      margin-bottom: 5px;
      line-height: 20px; }
    .resilify-dashboard-item .panel-body .resilify-dashboard-item-heading .org-name {
      margin-bottom: 5px;
      line-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .resilify-dashboard-item .panel-body p {
    overflow: hidden;
    margin: 0;
    margin-bottom: 5px; }
  .resilify-dashboard-item .panel-body .description {
    margin-bottom: 15px;
    line-height: 20px;
    height: 40px;
    overflow: hidden; }
  .resilify-dashboard-item .panel-body .status {
    margin-bottom: 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    line-height: 18px;
    margin-left: -15px;
    margin-right: -15px; }
  .resilify-dashboard-item .progress {
    clear: both;
    margin-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0; }
  .resilify-dashboard-item .no-activity {
    display: block;
    text-align: center;
    padding: 7px 0; }
  .resilify-dashboard-item .users {
    list-style: none;
    padding: 0;
    overflow: hidden;
    margin: 0; }
    .resilify-dashboard-item .users li {
      float: left;
      text-align: center; }
      @media (max-width: 400px) {
        .resilify-dashboard-item .users li:nth-child(5) {
          display: none;
          /* Hide a user to fit mobile browsers */ } }
      @media (max-width: 767px) {
        .resilify-dashboard-item .users li {
          margin-right: 10px; } }
      @media (min-width: 768px) {
        .resilify-dashboard-item .users li {
          margin-right: 15px; } }
      .resilify-dashboard-item .users li img {
        height: 34px;
        width: 34px; }
      .resilify-dashboard-item .users li .add-user {
        display: block;
        width: 34px;
        height: 34px;
        -webkit-border-radius: 50%;
        background: #ddd;
        color: white;
        text-decoration: none;
        -webkit-transition: all 0.5s ease;
        margin: 0 auto; }
        .resilify-dashboard-item .users li .add-user:hover, .resilify-dashboard-item .users li .add-user:active {
          background: #428bca; }
        .resilify-dashboard-item .users li .add-user i {
          font-size: 20px;
          line-height: 34px;
          display: block;
          text-align: center; }
  .resilify-dashboard-item .stats {
    list-style: none;
    padding: 0;
    margin-bottom: 0; }
    .resilify-dashboard-item .stats li {
      overflow: hidden;
      padding: 5px 0; }
      .resilify-dashboard-item .stats li h6 {
        float: left; }
      .resilify-dashboard-item .stats li span {
        float: right; }
      .resilify-dashboard-item .stats li h6, .resilify-dashboard-item .stats li span {
        font-size: 14px;
        line-height: 1;
        margin: 0; }

.ios .resilify-dashboard-items > .row {
  margin: 0;
  margin-right: -15px; }
  .ios .resilify-dashboard-items > .row > div {
    padding: 0;
    padding-right: 15px; }
    .ios .resilify-dashboard-items > .row > div .resilify-dashboard-item {
      margin-bottom: 15px; }

.android .resilify-dashboard-items > .row {
  margin: 0;
  margin-right: -15px; }
  .android .resilify-dashboard-items > .row > div {
    padding: 0;
    padding-right: 15px; }

/* CORE SYSTEM */
.resilify-core-page {
  background: white; }
  .resilify-core-page .guidance-bar {
    position: static; }
    .resilify-core-page .guidance-bar .container-fluid {
      max-width: 1200px; }

.core-container {
  width: auto;
  padding: 0 180px;
  padding-top: 30px;
  max-width: 1200px; }
  @media (max-width: 991px) {
    .core-container {
      padding: 0 15px; } }
  .core-container .core-panel {
    margin-bottom: 125px;
    border-color: #bbb; }
    .core-container .core-panel .panel {
      margin-bottom: 15px;
      position: relative;
      border-color: #bbb;
      background: #e5e5e5; }
    .core-container .core-panel h2 {
      text-align: center;
      margin: 0;
      font-size: 24px;
      margin-bottom: 15px; }
    .core-container .core-panel .panel-heading {
      cursor: pointer;
      text-align: center;
      overflow: hidden;
      transition: all 0.3s ease;
      border-radius: 0;
      border-color: #bbb;
      background: #eee;
      position: relative; }
      .core-container .core-panel .panel-heading.first {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }
      .core-container .core-panel .panel-heading.last {
        border-bottom: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px; }
      .core-container .core-panel .panel-heading:hover, .core-container .core-panel .panel-heading:active {
        background: #f5f5f5; }
        .core-container .core-panel .panel-heading:hover:after, .core-container .core-panel .panel-heading:active:after {
          border-left-color: rgba(0, 0, 0, 0.2); }
      .core-container .core-panel .panel-heading.panel-heading-activities {
        padding-top: 15px; }
      .core-container .core-panel .panel-heading .panel-title {
        line-height: 1.3; }
        .core-container .core-panel .panel-heading .panel-title .badge {
          position: relative;
          top: -1px;
          margin-left: 5px;
          margin-right: 5px;
          background-color: #d9534f; }
    .core-container .core-panel .panel-body {
      border-bottom: 1px solid #bbb;
      padding-bottom: 0; }
    .core-container .core-panel .core-split-sections {
      margin: 0; }
      .core-container .core-panel .core-split-sections > div {
        padding: 0; }
        .core-container .core-panel .core-split-sections > div .panel-heading {
          border-left: 1px solid #bbb;
          border-radius: 0; }
        .core-container .core-panel .core-split-sections > div:first-child .panel-heading {
          border-left: 0; }
    .core-container .core-panel .activities-and-dependencies {
      position: relative; }
    .core-container .core-panel .core-activities h3 {
      margin-bottom: 15px; }
    .core-container .core-panel .core-items {
      list-style: none;
      padding: 0;
      margin: 0 -7px; }
      .core-container .core-panel .core-items li {
        float: left;
        width: 20%;
        margin-bottom: 15px; }
        .core-container .core-panel .core-items li .core-item {
          margin: 0 7px;
          background: white;
          overflow: hidden;
          text-align: center;
          position: relative;
          cursor: pointer;
          transition: all 0.3s ease;
          color: #337ab7; }
          .core-container .core-panel .core-items li .core-item:hover, .core-container .core-panel .core-items li .core-item:focus, .core-container .core-panel .core-items li .core-item:active {
            border-color: #5bc0de; }
          .core-container .core-panel .core-items li .core-item .panel-body {
            height: 130px;
            border: 0; }
          .core-container .core-panel .core-items li .core-item i {
            font-size: 48px;
            margin-bottom: 10px;
            opacity: 0.3; }
          .core-container .core-panel .core-items li .core-item .core-item-title {
            text-align: center;
            font-size: 14px;
            line-height: 18px;
            margin: 0; }
          .core-container .core-panel .core-items li .core-item.core-item-empty {
            color: #aaa;
            background: white; }
    .core-container .core-panel .offset {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 120px; }
      @media (max-width: 991px) {
        .core-container .core-panel .offset {
          display: none; } }
      .core-container .core-panel .offset.left {
        left: -165px; }
      .core-container .core-panel .offset.right {
        right: -180px; }
      .core-container .core-panel .offset .panel {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        text-align: center; }
        .core-container .core-panel .offset .panel .panel-heading {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          margin: 0;
          border: 0; }
      .core-container .core-panel .offset .left-arrow,
      .core-container .core-panel .offset .right-arrow {
        position: absolute;
        font-size: 24px;
        color: #ccc; }
      .core-container .core-panel .offset#interested-parties .left-arrow,
      .core-container .core-panel .offset#interested-parties .right-arrow {
        right: 130px; }
      .core-container .core-panel .offset#interested-parties .left-arrow {
        top: 15px; }
      .core-container .core-panel .offset#interested-parties .right-arrow {
        bottom: 15px; }
      .core-container .core-panel .offset#suppliers .left-arrow,
      .core-container .core-panel .offset#suppliers .right-arrow {
        left: 130px; }
      .core-container .core-panel .offset#suppliers .left-arrow {
        bottom: 15px; }
      .core-container .core-panel .offset#suppliers .right-arrow {
        top: 15px; }

.ios.resilify-core-page .core-container {
  padding-top: 30px;
  overflow: scroll; }
.ios.resilify-core-page .core-panel {
  border: 1px solid #bbb !important; }
  .ios.resilify-core-page .core-panel .panel-title {
    color: #333 !important;
    text-transform: none !important;
    font-weight: 500 !important; }
  .ios.resilify-core-page .core-panel .panel {
    border: 1px solid #bbb !important; }
.ios.resilify-core-page .modal .modal-header .btn-group.pull-right {
  position: absolute;
  right: 0;
  top: 0; }
.ios.resilify-core-page .modal .subheader {
  height: auto; }
.ios.resilify-core-page .modal .panel {
  border: 1px solid #bbb; }
.ios.resilify-core-page .modal .form-group {
  margin-top: 0;
  margin-right: 0;
  border: 0; }
  .ios.resilify-core-page .modal .form-group .form-control {
    padding-left: 10px; }

.android.resilify-core-page .core-container {
  padding-top: 15px; }
.android.resilify-core-page .core-panel .panel-heading {
  padding-top: 6px;
  padding-bottom: 6px; }
.android.resilify-core-page .subheader {
  background: transparent;
  box-shadow: none;
  padding: 10px 15px;
  height: auto;
  border-bottom: 1px solid #ddd; }
.android.resilify-core-page .modal-header .pull-right {
  position: absolute;
  right: 0 !important;
  top: 0 !important; }

/* CORE SYSTEM MODAL */
.modal.edit-item-details {
  z-index: 1051; }
  .modal.edit-item-details .modal-header {
    padding: 10px; }
    .modal.edit-item-details .modal-header .pull-left {
      position: absolute;
      left: 15px;
      top: 10px; }
    .modal.edit-item-details .modal-header .pull-right {
      position: absolute;
      right: 15px;
      top: 10px; }
  .modal.edit-item-details .subheader {
    font-size: 14px;
    line-height: 1.5;
    padding: 12px 15px;
    color: #777; }
    .modal.edit-item-details .subheader p {
      margin: 0; }
  .modal.edit-item-details .bootcards-panel-collapsing .panel-heading .form-group {
    margin-bottom: 0; }
  .modal.edit-item-details .bootcards-panel-collapsing .panel-heading label {
    cursor: pointer; }
  .modal.edit-item-details .bootcards-panel-collapsing .panel-body {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 0; }
    .modal.edit-item-details .bootcards-panel-collapsing .panel-body .form-group {
      margin-bottom: 10px; }
  .modal.edit-item-details .bootcards-panel-collapsing .clear-field {
    position: absolute;
    right: 12px;
    top: 0;
    font-size: 18px;
    line-height: 22px;
    color: #bbb;
    transition: all 0.3s ease;
    border: 0; }
    .modal.edit-item-details .bootcards-panel-collapsing .clear-field:hover {
      color: #99130f; }
    .modal.edit-item-details .bootcards-panel-collapsing .clear-field i {
      margin: 0; }
  .modal.edit-item-details .bootcards-panel-collapsing .typeahead.dropdown-menu {
    right: 15px; }

/* WIKI MODULE */
.bootcards-wiki .bootcards-wiki-panel .panel-heading .btn {
  font-size: 14px;
  line-height: 20px; }
  .bootcards-wiki .bootcards-wiki-panel .panel-heading .btn .hide-text {
    display: none; }
  .bootcards-wiki .bootcards-wiki-panel .panel-heading .btn.active .show-text {
    display: none; }
  .bootcards-wiki .bootcards-wiki-panel .panel-heading .btn.active .hide-text {
    display: inline; }
.bootcards-wiki .bootcards-wiki-panel .bootcards-wiki-panel-controls .btn {
  font-size: 14px;
  line-height: 20px; }
.bootcards-wiki .bootcards-wiki-panel .bootcards-wiki-panel-editing {
  padding: 0;
  position: relative;
  font-size: 0; }
  .bootcards-wiki .bootcards-wiki-panel .bootcards-wiki-panel-editing iframe {
    min-height: 300px; }

.bootcards-wiki-accordion h5.list-group-item-heading {
  margin-left: 15px; }

/* Desktop */
.desktop.bootcards-wiki .bootcards-container {
  padding-top: 30px; }
.desktop.bootcards-wiki .bootcards-wiki-panel-metadata {
  padding: 10px 15px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd; }
  .desktop.bootcards-wiki .bootcards-wiki-panel-metadata .form-group {
    margin-bottom: 10px; }
    .desktop.bootcards-wiki .bootcards-wiki-panel-metadata .form-group:last-child {
      margin-bottom: 0; }
    .desktop.bootcards-wiki .bootcards-wiki-panel-metadata .form-group .control-label {
      padding-right: 0; }

/* iOS */
.ios.bootcards-wiki .bootcards-container {
  padding-top: 0; }
.ios.bootcards-wiki .bootcards-wiki-panel .panel-heading {
  min-height: 44px; }
  .ios.bootcards-wiki .bootcards-wiki-panel .panel-heading .pull-left .btn {
    margin-left: 0;
    margin-right: 20px; }
  .ios.bootcards-wiki .bootcards-wiki-panel .panel-heading .btn {
    background: transparent !important;
    box-shadow: none;
    border-color: transparent;
    padding: 8px 0;
    opacity: 1;
    color: #007aff; }
.ios.bootcards-wiki .bootcards-wiki-panel .bootcards-wiki-panel-metadata {
  border-bottom: 1px solid #ddd; }
.ios.bootcards-wiki .bootcards-wiki-panel .bootcards-panel-tips {
  padding-top: 10px;
  padding-bottom: 10px; }

/* Android */
.android.bootcards-wiki .panel-heading {
  min-height: 44px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative; }
  .android.bootcards-wiki .panel-heading .pull-left {
    position: absolute;
    left: 0;
    top: 0; }
  .android.bootcards-wiki .panel-heading .pull-right {
    position: absolute;
    right: 0;
    top: 0; }
  .android.bootcards-wiki .panel-heading .btn {
    background: transparent !important;
    box-shadow: none;
    border-color: transparent;
    opacity: 1;
    color: #999;
    margin: 0;
    padding: 10px 15px; }
.android.bootcards-wiki .bootcards-panel-tips {
  padding: 10px 15px; }
.android.bootcards-wiki .bootcards-wiki-panel-metadata {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd; }
  .android.bootcards-wiki .bootcards-wiki-panel-metadata .form-group {
    margin-bottom: 5px; }
    .android.bootcards-wiki .bootcards-wiki-panel-metadata .form-group:last-child {
      margin-bottom: 0; }
    .android.bootcards-wiki .bootcards-wiki-panel-metadata .form-group .btn {
      line-height: 28px; }

/* ADDRESS BOOK */
.resilify-address-book .bootcards-container {
  padding-top: 80px; }
.resilify-address-book .guidance-bar {
  height: 52px;
  overflow: hidden; }
  .resilify-address-book .guidance-bar .btn-group {
    margin: -13px 0; }
.resilify-address-book .resilify-address-book-select {
  border-bottom: 1px solid #ddd; }
  .resilify-address-book .resilify-address-book-select .list-group-item i {
    position: absolute;
    left: 0;
    width: auto; }
  .resilify-address-book .resilify-address-book-select .list-group-item .list-group-item-heading {
    padding-left: 34px;
    position: relative; }
  .resilify-address-book .resilify-address-book-select .collapse .list-group-item:before {
    display: none;
    /* Hide disclosure indicators */ }
.resilify-address-book .panel-body:first-child {
  border-bottom: 1px solid #ddd; }
.resilify-address-book .phone-numbers .list-group-item-text {
  margin-bottom: 10px; }

.ios.resilify-address-book .bootcards-container {
  padding-top: 52px; }
  .ios.resilify-address-book .bootcards-container select {
    padding-left: 12px; }

/* USERS */
.ios .resilify-users-invite .form-group {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd; }
.ios .resilify-users-invite .btn {
  padding: 0; }

.android .resilify-users-invite .btn {
  background: #99CC00;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3); }
  .android .resilify-users-invite .btn:hover, .android .resilify-users-invite .btn:active {
    background: #669900;
    box-shadow: none; }

.resilify-existing-users .list-group-item img {
  margin-right: 12px; }

/* USER ACTIVITY */
.resilify-user-activity {
  padding-top: 30px; }
  .resilify-user-activity .guidance-bar .btn-group {
    margin: -13px 0; }
  .resilify-user-activity .bootcards-container {
    padding-top: 50px; }
  .resilify-user-activity .bootcards-accordion .list-group-item.bootcards-list-subheading {
    padding-left: 65px; }
    .resilify-user-activity .bootcards-accordion .list-group-item.bootcards-list-subheading:before {
      width: 36px;
      text-align: center; }
  .resilify-user-activity .bootcards-accordion a.list-group-item img {
    height: 36px;
    width: 36px; }
  .resilify-user-activity .bootcards-cards .panel-heading img {
    margin-right: 15px;
    margin-top: 7px; }
  .resilify-user-activity .bootcards-cards .panel-heading .text-muted {
    color: #777 !important; }

/* WORKSHEET MODAL */
.resilify-worksheet-modal .modal-dialog {
  width: auto; }
  .resilify-worksheet-modal .modal-dialog .modal-content .modal-header {
    padding: 5px 15px;
    text-align: left; }
    .resilify-worksheet-modal .modal-dialog .modal-content .modal-header .btn-group {
      position: absolute;
      right: 5px;
      top: 5px; }
  .resilify-worksheet-modal .modal-dialog .modal-content .modal-body {
    padding: 0; }
    .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table-responsive {
      width: 100%;
      margin: 0;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 0; }
    .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table {
      margin: 0; }
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table thead {
        background: #eee; }
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table > thead > tr > th,
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table > tbody > tr > td {
        padding: 10px 15px; }
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table th.narrow,
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table td.narrow {
        width: 60px; }
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table .label {
        display: block;
        padding-top: 6px;
        padding-bottom: 6px; }
        .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table .label.impact-vlow {
          background: #29aa50; }
        .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table .label.impact-low {
          background: #5cb85c; }
        .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table .label.impact-medium {
          background: #f0ad4e; }
        .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table .label.impact-high {
          background: #d9534f; }
        .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table .label.impact-vhigh {
          background: #c02927; }
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table .arrow {
        height: 3px;
        background: #ddd;
        margin: 9px 0;
        position: relative;
        margin-right: 5px; }
        .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table .arrow:after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -8px;
          margin-right: -13px;
          border-style: solid;
          border-width: 8px;
          border-color: transparent;
          border-left-color: #ddd; }
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table .extra-border {
        border-bottom: 2px solid #ddd; }
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table .subheading {
        background: #eee;
        font-weight: bold;
        font-size: 20px;
        font-weight: 500;
        padding-top: 12px;
        padding-bottom: 12px;
        color: #777; }
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table .mitigation {
        background: #d9edf7 url("../img/bg-diagonal-white.png");
        color: #31708f; }
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table td.impact-vlow {
        background-color: #dff0d8;
        color: #3c763d; }
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table td.impact-low {
        background-color: #dff0d8;
        color: #3c763d; }
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table td.impact-medium {
        background-color: #fcf8e3;
        color: #8a6d3b; }
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table td.impact-high {
        background-color: #f2dede;
        color: #a94442; }
      .resilify-worksheet-modal .modal-dialog .modal-content .modal-body .table td.impact-vhigh {
        background-color: #f2dede;
        color: #a94442; }

.desktop .resilify-worksheet-modal .modal-dialog {
  margin: 30px; }

.ios .resilify-worksheet-modal .modal-dialog {
  margin: 0; }

.android .resilify-worksheet-modal .modal-dialog {
  margin: 0; }
