<div class="panel panel-default bootcards-wiki-panel">

	<isa-address-book-modal-header
		can-save="contactForm.$valid"
		on-save="updateEntity()"
		on-cancel="cancel()"
		title="{{ entity.name }}">
	</isa-address-book-modal-header>

	<div class="modal-body">
		<form class="form-horizontal" name="contactForm" novalidate>

			<isa-form-field
				ng-model='entity.name'
				title="Name*"
				input-placeholder='Joe Bloggs'
				input-name='name'
				validation-model='{
					"required": "A name is required."
				}'>
			</isa-form-field>
			<isa-form-field
				ng-model='entity.role'
				title="Title or Role"
				input-placeholder='VP of Sales'
				input-name='role'>
			</isa-form-field>
			<isa-form-field
				ng-model='entity.organisation'
				title="Organisation*"
				input-placeholder='IBM'
				input-name='organsiation'
				validation-model='{
					"required": "An organisation is required."
				}'>
			</isa-form-field>
			<isa-form-field
				ng-model='entity.type'
				title="Type*"
				input-placeholder='Staff'
				input-name='type'
				validation-model='{
					"required": "A type is required."
				}'>
			</isa-form-field>
			<isa-form-field
				ng-model='entity.email'
				title="Email*"
				input-type="email"
				input-placeholder='joe.bloggs@ibm.com'
				input-name='email'
				validation-model='{
					"required": "An email address is required.",
					"email": "Must be a valid email address."
				}'>
			</isa-form-field>

			<accordion>
				<isa-form-group title="Phone Numbers">
					<isa-group-row delete="deletePhoneNumber($index)" ng-repeat="phoneNumber in entity._phoneNumbers">
						<isa-form-field
							class="col-sm-6"
							ng-model='phoneNumber.number'
							title="Number"
							input-placeholder='+44 7668 492301'
							input-name='phoneNumber_{{ $index }}'
							validation-model='{
								"phoneNumber": "Must be a valid phone number.",
								"required": "A number is required."
							}'>
						</isa-form-field>
						<isa-form-field
							class="col-sm-6"
							ng-model='phoneNumber.type'
							title="Type"
							input-placeholder='Mobile'
							input-name='type_{{ $index }}'>
						</isa-form-field>
					</isa-group-row>
					<div ng-if="!entity._phoneNumbers.length">
						<p>
							No phone numbers.
						</p>
					</div>
					<a class="btn btn-primary pull-right" ng-click="addPhoneNumber()">
						<i class="fa fa-plus"></i>
						New Number
					</a>
				</isa-form-group>
			</accordion>

			<isa-form-field
				ng-model='entity.address'
				title="Address"
				input-placeholder='10 King St, Nailsworth, GL5 0NN'
				input-name='address'>
			</isa-form-field>

		</form>
	</div>
</div>
