<div ng-controller="CommentsController"
	class="comments panel panel-default">

	<div class="panel-heading clearfix">

		<div class="pull-right">

			<button class="btn btn-default" 
				ng-click="addComment()"
				ng-hide="add">
				<i class="fa fa-plus"></i>Add comment
			</button>
			<button class="btn btn-primary" 
				ng-click="saveComment()"
				ng-show="add">
				<i class="fa fa-check"></i>Save
			</button>
			
		</div>
	
		<h3 class="panel-title text-center">
			Comments 
			<span ng-show="comments.length > 0">({{comments.length}})</span></h3>
	</div>

	<div>

		<div class="panel-body" style="padding:0">

			<ul class="list-group">

				<li class="list-group-item"
				ng-show="add">

					<form>

						<label for="commentText" class="control-label">Your comment:</label>
						<textarea
							class="form-control"
							name="commentText"
							ng-model="comment.text">
						</textarea>

					</form>

				</li>

            	<li class="list-group-item"
            	ng-show="!page.comments || page.comments.length==0">

            		<div class="row">
						<div class="col-sm-12">
						No comments added yet.
						</div>
					</div>
				</li>

				<li class="list-group-item"
				ng-repeat="comment in page.comments">
		    		<div class="row">
						<div class="col-sm-12">
							{{comment.text}}
							<br />
							<span class="small">{{page.updated | timeAgo}} by {{page.updatedBy}}</span>
						</div>
					</div>
				</li>
			</ul>


	</div>

</div>