
<div class="navbar navbar-default navbar-fixed-top bootcards-navbar-double" role="navigation">
	<div class="container">

		<ul class="nav navbar-nav navbar-left">
			<li>
				<a href="#" class="btn btn-link btn-menu icon-only">
					<i class="fa fa-lg fa-bars"></i> 
				</a>
			</li>
		</ul>   

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="#" class="btn btn-link btn-menu icon-only">
					<i class="fa fa-lg fa-refresh"></i> 
				</a>
			</li>
		</ul>        

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<i class="fa fa-bars"></i>
			</button>      
			<span class="navbar-brand">Isometrica</span>
		</div>   

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right bootcards-nav-secondary">
				<li>
					<a href="#">
						<i class="fa fa-fw fa-user"></i>
						Account
					</a>
				</li>	 
				<li>
					<a href="#">
						<i class="fa fa-fw fa-question-circle"></i>
						Help
					</a>
				</li>
				<li>
					<a ui-sref="login">
						<i class="fa fa-fw fa-lock"></i>

						{{currentUser}}
						Login
					</a>
				</li>
				<li>
					<a ng-click="logout()">
						<i class="fa fa-fw fa-lock"></i>
						Logout
					</a>
				</li>		   
			</ul>
			<ul class="nav navbar-nav navbar-right bootcards-nav-primary">
				<li>
					<a ui-sref="overview">
						<i class="fa fa-fw fa-th"></i>
						Overview
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-comments"></i>
						Discussions
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-check-square-o"></i>
						To Dos
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-life-ring"></i>
						Support
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-refresh"></i>
						Sync
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>   