
<div class="navbar navbar-default navbar-fixed-top bootcards-navbar-double" role="navigation">
	<div class="container">

		<ul class="nav navbar-nav navbar-left">
			<li>
				<a href="#" class="btn btn-link btn-menu icon-only">
					<i class="fa fa-lg fa-bars"></i> 
				</a>
			</li>
		</ul>   

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="#" class="btn btn-link btn-menu icon-only">
					<i class="fa fa-lg fa-refresh"></i> 
				</a>
			</li>
		</ul>        

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<i class="fa fa-bars"></i>
			</button>      
			<span class="navbar-brand">Isometrica</span>
		</div>   

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right bootcards-nav-secondary">

				<li ng-if="isAuthenticated">
					<p style="padding: 5px 15px; margin: 0;line-height: 20px; color: #777;">
					<i class="fa fa-fw fa-user"></i>
					{{currentUser.name}}
					</p>
				</li>

				<li>
					<a href="#">
						Account
					</a>
				</li> 
				<li>
					<a href="#">
						Help
					</a>
				</li>

				<li ng-if="!isAuthenticated">
					<a ui-sref="login">
						<i class="fa fa-fw fa-lock"></i>
						Login
					</a>
				</li>

				<li ng-if="isAuthenticated">
					<a ng-click="logout()">Logout</a>
				</li>
				   
			</ul>
			<ul class="nav navbar-nav navbar-right bootcards-nav-primary">
				<li>
					<a ui-sref="overview">
						<i class="fa fa-fw fa-th"></i>
						Overview
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-cog"></i>
						Settings
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-refresh"></i>
						Sync
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>   