<div>
	
  <div class="modal-header clearfix">
    <div class="btn-group pull-left">
	    <button type="button" class="btn btn-default" ng-click="done()">
      	Back
      </button>
    </div>
    <div class="btn-group pull-right">
	    <button type="button" class="btn btn-success" ng-click="saveItem(canvasItemForm)">
      	Done
      </button>
    </div>		    
    <h4 class="modal-title">Edit details</h4>
  </div>
  
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-5">Activity/asset</label>
        <div class="col-sm-7">
	        <input class="form-control" type="text" placeholder="Activity/asset..." value="Technical support">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5">Potential event</label>
        <div class="col-sm-7">
	        <input class="form-control" type="text" placeholder="Potential event..." value="Fire in building">
        </div>
      </div>
      <legend>Strategy options</legend>
      
      <div class="panel-group" id="strategiesAndResources-strategyOptions" role="tablist">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="strategiesAndResources-strategyOptions-heading-1" data-toggle="collapse" data-parent="#strategiesAndResources-strategyOptions" href="#strategiesAndResources-strategyOptions-1">
            <h4 class="panel-title">
              Work from home
            </h4>
          </div>
          <div id="strategiesAndResources-strategyOptions-1" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">

    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Strategy option</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="Work from home">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Resources required</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="Employee homes">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Units</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="0">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Cost per unit</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="0">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Total cost</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="0">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Details</label>
    		        <div class="col-sm-7">
    			        <textarea class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</textarea>
    		        </div>
    	        </div>
    	        <div class="form-group">
      	        <div class="col-sm-7 col-sm-offset-5">
        	        <button type="button" class="btn btn-danger">
        	          Delete strategy option
        	        </button>
      	        </div>
    	        </div>
  	        </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="strategiesAndResources-strategyOptions-heading-2" data-toggle="collapse" data-parent="#strategiesAndResources-strategyOptions" href="#strategiesAndResources-strategyOptions-2">
            <h4 class="panel-title">
              Relocate to London location
            </h4>
          </div>
          <div id="strategiesAndResources-strategyOptions-2" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <div class="form-group">
    		        <label class="control-label col-sm-5">Strategy option</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="Relocate to London location">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Resources required</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="Temporary office in London">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Units</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="30 days">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Cost per unit</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="$5k/day">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Total cost</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="$150k">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Details</label>
    		        <div class="col-sm-7">
    			        <textarea class="form-control">Consectetur adipiscing elit.</textarea>
    		        </div>
    	        </div>
    	        <div class="form-group">
      	        <div class="col-sm-7 col-sm-offset-5">
        	        <button type="button" class="btn btn-danger">
        	          Delete strategy option
        	        </button>
      	        </div>
    	        </div>
            </div>
          </div>
        </div>
          
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="strategiesAndResources-strategyOptions-heading-3" data-toggle="collapse" data-parent="#strategiesAndResources-strategyOptions" href="#strategiesAndResources-strategyOptions-3">
            <h4 class="panel-title">
              Add strategy option
            </h4>
          </div>
          <div id="strategiesAndResources-strategyOptions-3" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <div class="form-group">
    		        <label class="control-label col-sm-5">Strategy option</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Resources required</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Units</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Cost per unit</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Total cost</label>
    		        <div class="col-sm-7">
    			        <input class="form-control" type="text" value="">
    		        </div>
    	        </div>
    	        <div class="form-group">
    		        <label class="control-label col-sm-5">Details</label>
    		        <div class="col-sm-7">
    			        <textarea class="form-control"></textarea>
    		        </div>
    	        </div>
    	        <div class="form-group">
      	        <div class="col-sm-7 col-sm-offset-5">
        	        <button type="button" class="btn btn-success">
        	          Add
        	        </button>
        	        <button type="button" class="btn btn-danger">
        	          Cancel
        	        </button>
      	        </div>
    	        </div>
            </div>
          </div>
        </div>	        
      
      </div>
      
    </form>
  </div>
</div>