
<div>
	    <div class="modal-header">
		    <div class="btn-group pull-left visible-xs">
			    <button class="btn btn-link icon-only" data-toggle="dropdown" aria-expanded="false">
		      	<i class="fa fa-gear"></i>
		      </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a ng-click="toggleMitigation()">
					    <i class="fa fa-lg fa-eye-slash"></i> 
					    Hide Alternatives
					  </a></li>
				    <li class="divider"></li>
				    <li><a href="#">
					    <i class="fa fa-lg fa-print"></i> 
					    Print
					  </a></li>
				  </ul>		      
		    </div>
		    <div class="btn-group pull-right">
			    <button class="btn btn-link hidden-xs" ng-click="toggleMitigation()" ng-show="showMitigation">
		      	<i class="fa fa-lg fa-eye-slash"></i>
		      	<span>Hide Alternatives</span>
		      </button>
		      <button class="btn btn-link hidden-xs" ng-click="toggleMitigation()" ng-hide="showMitigation">
		      	<i class="fa fa-lg fa-eye"></i>
		      	<span>Show Alternatives</span>
		      </button>
			    <button class="btn btn-link icon-only hidden-xs">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>
			    <button href="#" class="btn btn-link icon-only" ng-click="cancel()">
	      		<i class="fa fa-lg fa-times"></i>
			</button>
		    </div>
		    <h4 class="modal-title">Strategies &amp; Resources</h4>	 
	    </div>
      <div class="modal-body">
				<div class="table-responsive">
					<table class="table resilify-table">
						<thead>
							<tr>
								<th>Activity/asset</th>
								<th>Potential event</th>
								<th>Strategy option</th>
								<th>Resources required</th>
								<th>Units</th>
								<th>Cost per unit</th>
								<th>Total cost</th>
								<th>Details</th>
  							<th class="resilify-show-toggle">On canvas?</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat-start="item in items">
								<td rowspan="{{(showMitigation ? '3' : '1')}}">{{item.name}}</td>
								<td rowspan="{{(showMitigation ? '3' : '1')}}">Loss of entire building</td>
								<td>Work from home</td>
								<!--non mitigation-->
								<td>Employee homes</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                <td rowspan="{{(showMitigation ? '3' : '1')}}">
									<a class="canvas-toggle" ng-click="toggleShowOnCanvas(item)" ng-class="{'active':item.showOnCanvas}">
		  								<i class="fa fa-check"></i>
									</a>
								</td>
							</tr>

							<tr class="mitigation" ng-show="showMitigation">
								<td>Relocate to Stevenage location</td>
								<td>Temporary office in Stevenage</td>
								<td>7 days</td>
								<td>$3k/day</td>
								<td>$21k</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
							</tr>
							<tr class="mitigation" ng-show="showMitigation" ng-repeat-end>
								<td>Relocate to London location</td>
								<td>Temporary office in London</td>
								<td>30 days</td>
								<td>$5k/day</td>
								<td>$150k</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
							</tr>
							
						</tbody>
					</table>
				</div>
      </div>
</div>
