<div class="panel panel-default bootcards-wiki-panel">

	<isa-address-book-modal-header
		can-save="contactForm.$valid"
		on-save="updatecontact()"
		on-cancel="cancel()"
		title="{{ contact.name }}">
	</isa-address-book-modal-header>

	<div class="modal-body">
		<form class="form-horizontal" name="contactForm" novalidate>
			<isa-form-field
				ng-model='contact.firstName'
				title="First Name*"
				input-placeholder='Joe'
				input-name='firstName'
				validation-model='{
					"required": "A first name is required.",
				}'>
			</isa-form-field>
			<isa-form-field
				ng-model='contact.lastName'
				title="Last Name*"
				input-placeholder='Bloggs'
				input-name='lastName'
				validation-model='{
					"required": "A last name is required.",
				}'>
			</isa-form-field>
			<isa-form-field
				ng-model='contact.role'
				title="Title or Role"
				input-placeholder='VP of Sales'
				input-name='role'>
			</isa-form-field>
			<isa-form-field
				ng-model='contact.email'
				title="Email*"
				input-type="email"
				input-placeholder='joe.bloggs@ibm.com'
				input-name='email'
				validation-model='{
					"required": "An email address is required.",
					"email": "Must be a valid email address.",
					"existsEmail": "A contact already exists with this email address."
				}'
				pending-model='{
					"existsEmail": "Checking email..."
				}'>
			</isa-form-field>
			<isa-form-field
				ng-model='contact.address'
				title="Address"
				input-placeholder='10 King St, Nailsworth, GL5 0NN'
				input-name='address'>
			</isa-form-field>
			<accordion>
				<isa-form-group title="Phone Numbers">
					<isa-group-row delete="deletePhoneNumber($index)" ng-repeat="phoneNumber in contact._phoneNumbers">
						<isa-form-field
							class="col-sm-6"
							ng-model='phoneNumber.number'
							title="Number"
							input-placeholder='+44 7668 492301'
							input-name='phoneNumber_{{ $index }}'
							validation-model='{
								"phoneNumber": "Must be a valid phone number.",
								"required": "A number is required."
							}'>
						</isa-form-field>
						<isa-form-field
							class="col-sm-6"
							ng-model='phoneNumber.type'
							title="Type"
							input-placeholder='Mobile'
							input-name='type_{{ $index }}'>
						</isa-form-field>
					</isa-group-row>
					<div ng-if="!contact._phoneNumbers.length">
						<p>
							No phone numbers.
						</p>
					</div>
					<a class="btn btn-primary pull-right" ng-click="addPhoneNumber()">
						<i class="fa fa-plus"></i>
						New Number
					</a>
				</isa-form-group>
			</accordion>
		</form>
	</div>
</div>
