<div class="panel panel-default bootcards-wiki-panel">
	<isa-address-book-modal-header
		can-save="contactForm.$valid"
		on-save="createContact()"
		on-cancel="cancel()"
		title="New Contact">
	</isa-address-book-modal-header>
	<div class="modal-body">
		<form class="form-horizontal" name="contactForm" novalidate>
			<isa-form-field
				ng-model='contact.name'
				title="Name*"
				input-placeholder='Joe Bloggs'
				input-name='name'
				validation-model='{
					"required": "A name is required.",
				}'>
			</isa-form-field>
			<isa-form-field
				ng-model='contact.email'
				title="Email*"
				input-type="email"
				input-placeholder='joe.bloggs@ibm.com'
				input-name='email'
				validation-model='{
					"required": "An email address is required.",
					"email": "Must be a valid email address."
				}'>
			</isa-form-field>
			<isa-form-field
				ng-model='contact.type'
				title="Type*"
				input-placeholder='Staff'
				input-name='type'
				validation-model='{
					"required": "A type is required."
				}'>
			</isa-form-field>
			<isa-form-field
				ng-model='contact.organisation'
				title="Organisation*"
				input-placeholder='IBM'
				input-name='organsiation'
				validation-model='{
					"required": "An organisation is required."
				}'>
			</isa-form-field>
		</form>
	</div>
</div>
