<div class="panel panel-default bootcards-wiki-panel">

	<isa-address-book-modal-header
		can-save="userForm.$valid"
		on-save="createUser()"
		on-cancel="cancel()"
		title="New User">
	</isa-address-book-modal-header>

	<div class="modal-body">
		<form class="form-horizontal" name="userForm" novalidate>
			<isa-form-field
				ng-model='user.firstName'
				title="First Name*"
				input-type="text"
				input-placeholder='Joe'
				input-name='firstName'
				validation-model='{
					"required": "A first name is required.",
				}'>
			</isa-form-field>
			<isa-form-field
				ng-model='user.lastName'
				title="Last Name*"
				input-type="text"
				input-placeholder='Bloggs'
				input-name='lastName'
				validation-model='{
					"required": "A last name is required.",
				}'>
			</isa-form-field>
			<isa-form-field
				ng-model='user.email'
				title="Email*"
				input-type="email"
				input-placeholder='joe.bloggs@ibm.com'
				input-name='email'
				validation-model='{
					"required": "An email address is required.",
					"email": "Must be a valid email address.",
					"existsEmail": "A user already exists with this email address."
				}'
				pending-model='{
					"existsEmail": "Checking email..."
				}'>
			</isa-form-field>
			<isa-form-field
				ng-model='user.password'
				title="Password*"
				input-type="password"
				input-placeholder='Password'
				input-name='password'
				validation-model='{
					"required": "A password is required.",
					"minlength": {
						value: 6,
						message: "Must be > 6 characters long."
					},
					"containsNumber": "Must contain both letters and numbers."
				}'>
			</isa-form-field>
		</form>
	</div>

</div>
