<div class="panel panel-default bootcards-wiki-panel">
	<div class="panel-heading clearfix">
		<div class="btn-group pull-right">
			<a class="btn btn-default">
				<i class="fa fa-pencil"></i>
				Edit
			</a>
		</div>
		<h3 class="panel-title">{{ error || "User Details" }}</h3>
	</div>
	<div class="list-group">

		<div class="list-group-item">
			<isa-profile-img user="user"></isa-profile-img>
			<h4 class="list-group-item-heading">Name</h4>
			<p class="list-group-item-text">{{ user.name }}</p>
		</div>

		<div class="list-group-item">
			<h4 class="list-group-item-heading">Role</h4>
			<p class="list-group-item-text">{{ user.role || "Unknown" }}</p>
		</div>

		<div class="list-group-item">
			<h4 class="list-group-item-heading">Email</h4>
			<p class="list-group-item-text">{{ user.email }}</p>
		</div>

		<div class="list-group-item">
			<h4 class="list-group-item-heading">Role</h4>
			<p class="list-group-item-text phone-numbers">{{ user.email }}</p>
			<div class="row">
				<div class="col-sm-6">
					<h4 class="list-group-item-heading"><a href="tel:">+1 750 123 4567</a></h4>
				</div>
				<div class="col-sm-6">
					<h4 class="list-group-item-heading">Work</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h4 class="list-group-item-heading"><a href="tel:">+1 750 123 4567</a></h4>
				</div>
				<div class="col-sm-6">
					<h4 class="list-group-item-heading">Work</h4>
				</div>
			</div>
		</div>

	</div>
</div>
