html,
body {
  height: 100%; }

body.desktop {
  padding-top: 50px !important; }

body.desktop.has-bootcards-navbar-double {
  padding-top: 80px !important; }

.desktop .bootcards-hidden-desktop {
  display: none; }

.modal-backdrop.in {
  position: fixed; }

/* NAV */
.desktop .resilify-navbar-centered .navbar-brand {
  text-align: center;
  display: block;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1; }
.desktop .resilify-navbar-centered .btn {
  padding-top: 12px;
  padding-bottom: 12px; }
  .desktop .resilify-navbar-centered .btn i {
    font-size: 24px; }
@media (max-width: 767px) {
  .desktop .resilify-navbar-centered .navbar-nav {
    margin: 4px 0; } }
.desktop .resilify-navbar-centered .navbar-nav.navbar-left {
  float: left;
  margin-left: -15px; }
.desktop .resilify-navbar-centered .navbar-nav.navbar-right {
  float: right;
  margin-right: -15px; }

.desktop .navbar-inverse {
  background: #444; }
  .desktop .navbar-inverse .navbar-brand {
    font-weight: 500; }
  .desktop .navbar-inverse .navbar-brand,
  .desktop .navbar-inverse .navbar-text,
  .desktop .navbar-inverse .navbar-nav > li > a {
    color: #bbb; }
  .desktop .navbar-inverse span.navbar-brand,
  .desktop .navbar-inverse a.navbar-brand:hover,
  .desktop .navbar-inverse .navbar-nav > li > a:hover {
    color: white; }

@media (min-width: 768px) {
  .resilify-dashboard-page.desktop .navbar-brand {
    font-size: 36px; } }

.ios .navbar-collapse,
.android .navbar-collapse {
  display: none !important; }

.android .navbar .btn {
  line-height: 50px; }

/* GUIDANCE BAR */
.guidance-bar {
  background: #337ab7 !important;
  border: 0;
  height: auto !important;
  margin: 0;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 0; }
  .guidance-bar .row {
    padding: 15px 0; }
    .guidance-bar .row i.fa-long-arrow-right {
      position: absolute;
      right: -8px;
      top: 0;
      font-size: 21px;
      line-height: 21px;
      color: white; }
    .guidance-bar .row h4 {
      color: white;
      margin: 0;
      font-weight: 300;
      line-height: 1.3;
      font-size: 17px;
      padding: 0 10px; }
      .guidance-bar .row h4 .badge {
        position: relative;
        top: -1px;
        margin-right: 3px;
        background: #5bc0de; }
    .guidance-bar .row .btn-group .btn {
      color: white;
      opacity: 0.7;
      text-decoration: none;
      transition: all 0.3s ease;
      font-size: 17px; }
      .guidance-bar .row .btn-group .btn:hover, .guidance-bar .row .btn-group .btn:active {
        opacity: 1; }

.ios .guidance-bar {
  top: 44px; }

/* FOOTER */
.navbar-fixed-bottom {
  position: fixed !important;
  padding: 0 !important;
  background: #444 !important; }
  .navbar-fixed-bottom .btn-group {
    display: block !important; }
    .navbar-fixed-bottom .btn-group .btn {
      width: 16.666666%;
      white-space: normal;
      text-align: center;
      text-decoration: none;
      color: #ccc;
      transition: all 0.3s ease;
      padding: 10px 0;
      font-size: 14px;
      line-height: 16px; }
      .navbar-fixed-bottom .btn-group .btn:hover, .navbar-fixed-bottom .btn-group .btn:active, .navbar-fixed-bottom .btn-group .btn.active {
        color: white; }
      .navbar-fixed-bottom .btn-group .btn i {
        display: block;
        margin: 0 0 5px 0;
        font-size: 42px; }
      .navbar-fixed-bottom .btn-group .btn .badge {
        position: absolute;
        background: #d5504e;
        left: 50%;
        margin-left: 6px;
        top: 4px;
        z-index: 1;
        font-size: 14px;
        font-weight: 300; }

/* DASHBOARD TABS */
.resilify-dashboard-page .guidance-bar {
  position: static;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto; }

.resilify-dashboard-tabs {
  background: #337ab7; }
  .resilify-dashboard-tabs .nav > li > a {
    border-color: transparent !important;
    font-weight: 500;
    color: white;
    background: #539ad7;
    transition: all 0.3s ease;
    margin: 0 2px; }
    .resilify-dashboard-tabs .nav > li > a:hover, .resilify-dashboard-tabs .nav > li > a:active {
      background: #5bc0de; }
  .resilify-dashboard-tabs .nav > li.active > a {
    background: #f5f5f5;
    color: #333; }

/* DASHBOARD ITEMS */
.resilify-dashboard-items {
  margin-top: 30px;
  padding: 0 80px;
  position: relative; }

.resilify-dashboard-add {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  text-decoration: none !important;
  font-weight: 500;
  transition: all 0.3s ease; }
  .resilify-dashboard-add i {
    display: block;
    font-size: 48px; }

.resilify-dashboard-item {
  cursor: pointer;
  border-color: #bbb; }
  .resilify-dashboard-item:hover, .resilify-dashboard-item:active {
    border-color: #5bc0de; }
  .resilify-dashboard-item .panel-body .canvas-icon {
    float: left;
    opacity: 0.3;
    margin: 3px 15px 0 3px;
    -webkit-transition: all 0.5s ease;
    height: 36px; }
    .resilify-dashboard-item .panel-body .canvas-icon:hover, .resilify-dashboard-item .panel-body .canvas-icon:active {
      opacity: 0.6; }
  .resilify-dashboard-item .panel-body h3 {
    margin-top: 0;
    padding: 0;
    margin-bottom: 5px; }
  .resilify-dashboard-item .panel-body p {
    overflow: hidden;
    margin: 0;
    margin-bottom: 5px; }
  .resilify-dashboard-item .panel-body .org-name {
    margin-bottom: 15px; }
  .resilify-dashboard-item .panel-body .status {
    margin-bottom: 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    line-height: 18px;
    margin-left: -15px;
    margin-right: -15px; }
  .resilify-dashboard-item .progress {
    clear: both;
    margin-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0; }
  .resilify-dashboard-item .no-activity {
    display: block;
    text-align: center;
    padding: 7px 0; }
  .resilify-dashboard-item .users {
    list-style: none;
    padding: 0;
    overflow: hidden;
    margin: 0; }
    .resilify-dashboard-item .users li {
      float: left;
      text-align: center; }
      @media (max-width: 400px) {
        .resilify-dashboard-item .users li:nth-child(5) {
          display: none;
          /* Hide a user to fit mobile browsers */ } }
      @media (max-width: 767px) {
        .resilify-dashboard-item .users li {
          margin-right: 10px; } }
      @media (min-width: 768px) {
        .resilify-dashboard-item .users li {
          width: 16.666%; } }
      .resilify-dashboard-item .users li img {
        height: 34px;
        width: 34px; }
      .resilify-dashboard-item .users li .add-user {
        display: block;
        width: 34px;
        height: 34px;
        -webkit-border-radius: 50%;
        background: #ddd;
        color: white;
        text-decoration: none;
        -webkit-transition: all 0.5s ease;
        margin: 0 auto; }
        .resilify-dashboard-item .users li .add-user:hover, .resilify-dashboard-item .users li .add-user:active {
          background: #428bca; }
        .resilify-dashboard-item .users li .add-user i {
          font-size: 20px;
          line-height: 34px;
          display: block;
          text-align: center; }
  .resilify-dashboard-item .stats {
    list-style: none;
    padding: 0;
    margin-bottom: 0; }
    .resilify-dashboard-item .stats li {
      overflow: hidden;
      padding: 5px 0; }
      .resilify-dashboard-item .stats li h6 {
        float: left; }
      .resilify-dashboard-item .stats li span {
        float: right; }
      .resilify-dashboard-item .stats li h6, .resilify-dashboard-item .stats li span {
        font-size: 14px;
        line-height: 1;
        margin: 0; }

/* CORE SYSTEM */
.resilify-core-page {
  background: white; }

.ios .core-container {
  padding-top: 30px;
  overflow: scroll; }

.core-container {
  width: auto;
  padding: 0 180px;
  padding-top: 80px;
  max-width: 1200px; }
  @media (max-width: 991px) {
    .core-container {
      padding: 0 15px; } }
  .core-container .core-panel {
    margin-bottom: 125px;
    border-color: #bbb;
    border-radius: 0; }
    .core-container .core-panel .panel {
      margin-bottom: 15px;
      position: relative;
      border-color: #bbb;
      background: #e5e5e5;
      border-radius: 0; }
    .core-container .core-panel h2 {
      text-align: center;
      margin: 0;
      font-size: 24px;
      margin-bottom: 15px; }
    .core-container .core-panel .panel-heading {
      cursor: pointer;
      text-align: center;
      overflow: hidden;
      transition: all 0.3s ease;
      border-radius: 0;
      border-color: #bbb;
      background: #eee;
      position: relative; }
      .core-container .core-panel .panel-heading:after {
        content: '';
        position: absolute;
        right: -15px;
        bottom: -15px;
        border-style: solid;
        border-width: 15px;
        border-color: transparent;
        border-left-color: rgba(0, 0, 0, 0.1);
        -webkit-transform: rotate(45deg);
        transition: all 0.3s ease; }
      .core-container .core-panel .panel-heading.last {
        border-bottom: 0; }
      .core-container .core-panel .panel-heading:hover, .core-container .core-panel .panel-heading:active {
        background: #f5f5f5; }
        .core-container .core-panel .panel-heading:hover:after, .core-container .core-panel .panel-heading:active:after {
          border-left-color: rgba(0, 0, 0, 0.2); }
      .core-container .core-panel .panel-heading.panel-heading-activities {
        padding-top: 15px; }
      .core-container .core-panel .panel-heading .panel-title {
        line-height: 1.3; }
        .core-container .core-panel .panel-heading .panel-title .badge {
          position: relative;
          top: -1px;
          margin-left: 5px;
          margin-right: 5px;
          background-color: #d9534f; }
    .core-container .core-panel .panel-body {
      border-bottom: 1px solid #bbb;
      padding-bottom: 0; }
    .core-container .core-panel .core-split-sections {
      margin: 0; }
      .core-container .core-panel .core-split-sections > div {
        padding: 0; }
        .core-container .core-panel .core-split-sections > div .panel-heading {
          border-left: 1px solid #bbb;
          border-radius: 0; }
        .core-container .core-panel .core-split-sections > div:first-child .panel-heading {
          border-left: 0; }
    .core-container .core-panel .activities-and-dependencies {
      position: relative; }
    .core-container .core-panel .core-activities h3 {
      margin-bottom: 15px; }
    .core-container .core-panel .core-items {
      list-style: none;
      padding: 0;
      margin: 0 -7px; }
      .core-container .core-panel .core-items li {
        float: left;
        width: 20%;
        margin-bottom: 15px; }
        .core-container .core-panel .core-items li .core-item {
          margin: 0 7px; }
    .core-container .core-panel .core-item {
      height: 130px;
      padding: 20px 10px;
      background: white;
      overflow: hidden;
      text-align: center;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease;
      color: #337ab7; }
      .core-container .core-panel .core-item:after {
        content: '';
        position: absolute;
        right: -15px;
        bottom: -15px;
        border-style: solid;
        border-width: 15px;
        border-color: transparent;
        border-left-color: rgba(0, 0, 0, 0.03);
        -webkit-transform: rotate(45deg);
        transition: all 0.3s ease; }
      .core-container .core-panel .core-item i {
        font-size: 48px;
        margin-bottom: 10px;
        opacity: 0.3; }
      .core-container .core-panel .core-item .core-item-title {
        text-align: center;
        font-size: 14px;
        line-height: 18px;
        margin: 0; }
      .core-container .core-panel .core-item.core-item-empty {
        color: #aaa;
        background: white; }
      .core-container .core-panel .core-item:hover, .core-container .core-panel .core-item:active {
        background: #337ab7;
        color: white; }
        .core-container .core-panel .core-item:hover i, .core-container .core-panel .core-item:active i {
          color: white; }
        .core-container .core-panel .core-item:hover:after, .core-container .core-panel .core-item:active:after {
          border-left-color: rgba(0, 0, 0, 0.2); }
    .core-container .core-panel .offset {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 120px; }
      @media (max-width: 991px) {
        .core-container .core-panel .offset {
          display: none; } }
      .core-container .core-panel .offset.left {
        left: -165px; }
      .core-container .core-panel .offset.right {
        right: -180px; }
      .core-container .core-panel .offset .panel {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        text-align: center; }
        .core-container .core-panel .offset .panel .panel-heading {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          margin: 0;
          border: 0; }
      .core-container .core-panel .offset .left-arrow,
      .core-container .core-panel .offset .right-arrow {
        position: absolute;
        font-size: 24px;
        color: #ccc; }
      .core-container .core-panel .offset#interested-parties .left-arrow,
      .core-container .core-panel .offset#interested-parties .right-arrow {
        right: 130px; }
      .core-container .core-panel .offset#interested-parties .left-arrow {
        top: 15px; }
      .core-container .core-panel .offset#interested-parties .right-arrow {
        bottom: 15px; }
      .core-container .core-panel .offset#suppliers .left-arrow,
      .core-container .core-panel .offset#suppliers .right-arrow {
        left: 130px; }
      .core-container .core-panel .offset#suppliers .left-arrow {
        bottom: 15px; }
      .core-container .core-panel .offset#suppliers .right-arrow {
        top: 15px; }

/* CANVAS */
.canvas-row {
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  margin: 0;
  background: #eaeaea; }
  .canvas-row .canvas-column {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    border-right: 1px solid #ccc; }
    .canvas-row .canvas-column .canvas-column-header {
      padding: 10px 0;
      margin-top: 100px; }
      .canvas-row .canvas-column .canvas-column-header .btn {
        padding: 0;
        font-size: 24px;
        margin: 0 15px; }
        .canvas-row .canvas-column .canvas-column-header .btn i {
          margin: 0; }
    .canvas-row .canvas-column .canvas-items {
      margin-bottom: 100px; }
    .canvas-row .canvas-column .canvas-item-heading {
      background: #ddd;
      padding: 12px 15px 12px 40px;
      cursor: pointer;
      color: #777;
      transition: all 0.3s ease;
      margin: 0 15px 15px 15px;
      position: relative; }
      .canvas-row .canvas-column .canvas-item-heading:after {
        content: "\f138";
        display: block;
        font-family: "FontAwesome";
        line-height: 20px;
        font-size: 18px;
        width: 24px;
        text-align: center;
        color: #337ab7;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -10px;
        transition: all 0.3s ease; }
      .canvas-row .canvas-column .canvas-item-heading:hover {
        color: #337ab7;
        background: white; }
      .canvas-row .canvas-column .canvas-item-heading[aria-expanded="true"] {
        margin-bottom: 15px; }
        .canvas-row .canvas-column .canvas-item-heading[aria-expanded="true"]:after {
          transform: rotate(90deg); }
      .canvas-row .canvas-column .canvas-item-heading h3 {
        font-size: 14px;
        line-height: 20px;
        margin: 0; }
    .canvas-row .canvas-column .canvas-item {
      padding: 20px 10px 0;
      background: white;
      overflow: hidden;
      text-align: center;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease;
      color: black;
      margin: 0 15px 15px 15px;
      min-height: 100px;
      /* Chart */
      /* Checkbox */
      /* Clock */
      /* Icon */
      /* Label */ }
      .canvas-row .canvas-column .canvas-item:after {
        content: '';
        position: absolute;
        right: -15px;
        bottom: -15px;
        border-style: solid;
        border-width: 15px;
        border-color: transparent;
        border-left-color: rgba(0, 0, 0, 0.05);
        -webkit-transform: rotate(45deg);
        transition: all 0.3s ease; }
      .canvas-row .canvas-column .canvas-item:hover, .canvas-row .canvas-column .canvas-item:focus, .canvas-row .canvas-column .canvas-item:active {
        background: #337ab7;
        color: white; }
        .canvas-row .canvas-column .canvas-item:hover:after, .canvas-row .canvas-column .canvas-item:focus:after, .canvas-row .canvas-column .canvas-item:active:after {
          border-left-color: rgba(0, 0, 0, 0.2); }
      .canvas-row .canvas-column .canvas-item .canvas-item-title {
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 15px 0; }
      .canvas-row .canvas-column .canvas-item .canvas-item-details {
        margin: 0;
        opacity: 0.7;
        font-size: 13px; }
      .canvas-row .canvas-column .canvas-item .canvas-item-chart {
        font-size: 0;
        margin: 0 -10px; }
        .canvas-row .canvas-column .canvas-item .canvas-item-chart canvas {
          width: 100%;
          height: 50px; }
      .canvas-row .canvas-column .canvas-item .canvas-item-checkbox {
        width: 32px;
        height: 32px;
        margin: 0 auto;
        margin-top: -5px;
        border-radius: 4px;
        border: 2px solid #999;
        color: #999;
        line-height: 28px;
        text-align: center;
        font-size: 18px; }
        .canvas-row .canvas-column .canvas-item .canvas-item-checkbox.red {
          border-color: #d9534f;
          color: #d9534f; }
        .canvas-row .canvas-column .canvas-item .canvas-item-checkbox.green {
          border-color: #5cb85c;
          color: #5cb85c; }
      .canvas-row .canvas-column .canvas-item:hover .canvas-item-checkbox, .canvas-row .canvas-column .canvas-item:focus .canvas-item-checkbox, .canvas-row .canvas-column .canvas-item:active .canvas-item-checkbox {
        border-color: white;
        color: white; }
      .canvas-row .canvas-column .canvas-item .canvas-item-clock {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border: 2px solid #777;
        color: #777;
        border-radius: 50%;
        white-space: nowrap;
        text-align: center;
        line-height: 16px;
        padding: 14px 0;
        margin-top: -10px;
        margin-bottom: 15px;
        position: relative; }
        .canvas-row .canvas-column .canvas-item .canvas-item-clock .minute-marks {
          list-style: none;
          padding: 0;
          margin: 0; }
          .canvas-row .canvas-column .canvas-item .canvas-item-clock .minute-marks li {
            display: block;
            width: 2px;
            height: 3px;
            background: #777;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -2px 0 0 -1px; }
            .canvas-row .canvas-column .canvas-item .canvas-item-clock .minute-marks li:nth-child(1) {
              transform: rotate(30deg) translateY(-27px); }
            .canvas-row .canvas-column .canvas-item .canvas-item-clock .minute-marks li:nth-child(2) {
              transform: rotate(60deg) translateY(-27px); }
            .canvas-row .canvas-column .canvas-item .canvas-item-clock .minute-marks li:nth-child(3) {
              transform: rotate(90deg) translateY(-27px); }
            .canvas-row .canvas-column .canvas-item .canvas-item-clock .minute-marks li:nth-child(4) {
              transform: rotate(120deg) translateY(-27px); }
            .canvas-row .canvas-column .canvas-item .canvas-item-clock .minute-marks li:nth-child(5) {
              transform: rotate(150deg) translateY(-27px); }
            .canvas-row .canvas-column .canvas-item .canvas-item-clock .minute-marks li:nth-child(6) {
              transform: rotate(180deg) translateY(-27px); }
            .canvas-row .canvas-column .canvas-item .canvas-item-clock .minute-marks li:nth-child(7) {
              transform: rotate(210deg) translateY(-27px); }
            .canvas-row .canvas-column .canvas-item .canvas-item-clock .minute-marks li:nth-child(8) {
              transform: rotate(240deg) translateY(-27px); }
            .canvas-row .canvas-column .canvas-item .canvas-item-clock .minute-marks li:nth-child(9) {
              transform: rotate(270deg) translateY(-27px); }
            .canvas-row .canvas-column .canvas-item .canvas-item-clock .minute-marks li:nth-child(10) {
              transform: rotate(300deg) translateY(-27px); }
            .canvas-row .canvas-column .canvas-item .canvas-item-clock .minute-marks li:nth-child(11) {
              transform: rotate(330deg) translateY(-27px); }
            .canvas-row .canvas-column .canvas-item .canvas-item-clock .minute-marks li:nth-child(12) {
              transform: rotate(0deg) translateY(-27px); }
        .canvas-row .canvas-column .canvas-item .canvas-item-clock span {
          display: block;
          font-size: 11px;
          font-weight: 500; }
        .canvas-row .canvas-column .canvas-item .canvas-item-clock.red {
          border-color: #d9534f;
          color: #d9534f; }
          .canvas-row .canvas-column .canvas-item .canvas-item-clock.red .minute-marks li {
            background: #d9534f; }
        .canvas-row .canvas-column .canvas-item .canvas-item-clock.green {
          border-color: #5cb85c;
          color: #5cb85c; }
          .canvas-row .canvas-column .canvas-item .canvas-item-clock.green .minute-marks li {
            background: #5cb85c; }
      .canvas-row .canvas-column .canvas-item:hover .canvas-item-clock, .canvas-row .canvas-column .canvas-item:focus .canvas-item-clock, .canvas-row .canvas-column .canvas-item:active .canvas-item-clock {
        border-color: white;
        color: white; }
        .canvas-row .canvas-column .canvas-item:hover .canvas-item-clock .minute-marks li, .canvas-row .canvas-column .canvas-item:focus .canvas-item-clock .minute-marks li, .canvas-row .canvas-column .canvas-item:active .canvas-item-clock .minute-marks li {
          background: white; }
      .canvas-row .canvas-column .canvas-item .canvas-item-icon {
        color: #999; }
        .canvas-row .canvas-column .canvas-item .canvas-item-icon.red {
          color: #d9534f; }
        .canvas-row .canvas-column .canvas-item .canvas-item-icon.green {
          color: #5cb85c; }
      .canvas-row .canvas-column .canvas-item .label {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
        padding: 0;
        line-height: 20px; }

/* MODALS */
.ios .modal-dialog .modal-content {
  z-index: 1; }
.ios .modal-dialog .modal-header {
  padding: 0; }
  .ios .modal-dialog .modal-header .btn {
    padding: 0 15px;
    line-height: 44px; }
    .ios .modal-dialog .modal-header .btn i {
      vertical-align: 0; }
    .ios .modal-dialog .modal-header .btn span {
      font-size: 14px; }
.ios .modal-dialog .modal-body {
  z-index: -1; }

.android .table-view-modal .modal-dialog {
  margin: 0; }

.android .modal-dialog .modal-header {
  padding: 0; }
  .android .modal-dialog .modal-header .btn {
    padding: 0 15px;
    line-height: 50px;
    margin-top: 0; }
    .android .modal-dialog .modal-header .btn i {
      vertical-align: 0; }
    .android .modal-dialog .modal-header .btn span {
      font-size: 14px; }

.desktop .modal-title {
  line-height: 34px; }

/* EDIT DETAILS MODAL */
.modal.edit-item-details {
  z-index: 1051;
  	/*.modal-footer {
  		border: 0;
  		padding: 0;
  		border-radius: 0;
  		height: 22px;
  		//background: $sticky-color-default;
      //margin-top: -1px;
  
    	&:after {
      	content: '';
      	position: absolute;
      	right: -15px;
      	bottom: -15px;
      	border-style: solid;
      	border-width: 15px;
      	border-color: transparent;
      	//border-left-color: $sticky-color-default;
      	border-left-color: rgba(0,0,0,0.1);
      	-webkit-transform: rotate(45deg);
    	}
  	}*/ }
  .modal.edit-item-details .modal-header {
    padding: 10px; }
    .modal.edit-item-details .modal-header .pull-left {
      position: absolute;
      left: 15px;
      top: 10px; }
    .modal.edit-item-details .modal-header .pull-right {
      position: absolute;
      right: 15px;
      top: 10px; }
  .modal.edit-item-details .subheader {
    font-size: 14px;
    line-height: 1.5;
    padding: 12px 15px; }
    .modal.edit-item-details .subheader p {
      margin: 0; }
  .modal.edit-item-details .panel {
    margin-bottom: 15px;
    border-radius: 0;
    border-color: #bbb;
    background: #eee; }
    .modal.edit-item-details .panel .panel-heading {
      border: 0;
      padding: 10px 15px 0;
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease; }
      .modal.edit-item-details .panel .panel-heading:hover, .modal.edit-item-details .panel .panel-heading:active {
        background: #f5f5f5; }
      .modal.edit-item-details .panel .panel-heading label {
        cursor: pointer; }
      .modal.edit-item-details .panel .panel-heading .form-group {
        margin-bottom: 10px; }
      .modal.edit-item-details .panel .panel-heading > .form-group:first-child label {
        padding-left: 30px; }
        .modal.edit-item-details .panel .panel-heading > .form-group:first-child label:before {
          content: "\f138";
          font-family: "FontAwesome";
          line-height: 20px;
          font-size: 24px;
          width: 24px;
          text-align: center;
          margin-top: 7px;
          color: #337ab7;
          position: absolute;
          left: 18px;
          top: 0;
          transition: all 0.3s ease; }
      .modal.edit-item-details .panel .panel-heading:hover > .form-group:first-child label:before, .modal.edit-item-details .panel .panel-heading:active > .form-group:first-child label:before {
        color: #23527c; }
      .modal.edit-item-details .panel .panel-heading[aria-expanded="true"] > .form-group:first-child label:before {
        -webkit-transform: rotate(90deg); }
      .modal.edit-item-details .panel .panel-heading .clear-field {
        position: absolute;
        right: 12px;
        top: 0;
        font-size: 18px;
        line-height: 22px;
        color: #bbb;
        transition: all 0.3s ease;
        border: 0; }
        .modal.edit-item-details .panel .panel-heading .clear-field:hover {
          color: #99130f; }
        .modal.edit-item-details .panel .panel-heading .clear-field i {
          margin: 0; }
      .modal.edit-item-details .panel .panel-heading .typeahead.dropdown-menu {
        right: 15px; }
  .modal.edit-item-details legend {
    margin: 0;
    padding: 10px 15px;
    background: #eee;
    font-size: 16px;
    font-weight: bold;
    position: relative; }
    .modal.edit-item-details legend .btn.pull-right {
      position: absolute;
      right: 0;
      top: 0;
      color: #bbb;
      transition: all 0.3s ease;
      width: 50px; }
      .modal.edit-item-details legend .btn.pull-right:hover, .modal.edit-item-details legend .btn.pull-right:active {
        color: #5cb85c; }
      .modal.edit-item-details legend .btn.pull-right i {
        font-size: 24px;
        line-height: 28px; }
  .modal.edit-item-details .item-title {
    background: #eee;
    padding-top: 0; }
    .modal.edit-item-details .item-title .form-control {
      text-align: center; }
  .modal.edit-item-details .list-group {
    margin: 0; }
    .modal.edit-item-details .list-group .list-group-item {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      margin-bottom: 0;
      background: transparent; }
      .modal.edit-item-details .list-group .list-group-item[data-toggle="collapse"] {
        cursor: pointer; }
      .modal.edit-item-details .list-group .list-group-item:before {
        display: none; }
      .modal.edit-item-details .list-group .list-group-item .list-group-item-text {
        margin-bottom: 0; }
      .modal.edit-item-details .list-group .list-group-item .btn.pull-right {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -21px;
        color: #ccc;
        transition: all 0.3s ease;
        width: 50px; }
        .modal.edit-item-details .list-group .list-group-item .btn.pull-right:hover, .modal.edit-item-details .list-group .list-group-item .btn.pull-right:active {
          color: #d9534f; }
        .modal.edit-item-details .list-group .list-group-item .btn.pull-right i {
          opacity: 1;
          width: auto;
          font-size: 24px;
          line-height: 28px; }

.resilify-impacts label i {
  position: relative;
  top: 5px;
  margin-top: -8px;
  margin-right: 7px; }

/* LMH Toggle */
.resilify-toggle-lowmediumhigh button {
  line-height: 30px;
  height: 34px;
  width: 34px;
  border: 2px solid #ddd;
  border-radius: 50%;
  font-weight: bold;
  font-size: 14px;
  color: #ddd;
  background: white;
  padding: 0;
  float: left;
  margin-right: 5px;
  transition: all 0.3s ease;
  text-align: center; }
  .resilify-toggle-lowmediumhigh button.low:hover, .resilify-toggle-lowmediumhigh button.low.active {
    color: #7cd27c;
    border-color: #7cd27c; }
  .resilify-toggle-lowmediumhigh button.medium:hover, .resilify-toggle-lowmediumhigh button.medium.active {
    color: #dfb667;
    border-color: #dfb667; }
  .resilify-toggle-lowmediumhigh button.high:hover, .resilify-toggle-lowmediumhigh button.high.active {
    color: #da8080;
    border-color: #da8080; }

/* USERS */
.ios .resilify-users-invite .form-group {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd; }
.ios .resilify-users-invite .btn {
  padding: 0; }

.android .resilify-users-invite .btn {
  background: #99CC00;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3); }
  .android .resilify-users-invite .btn:hover, .android .resilify-users-invite .btn:active {
    background: #669900;
    box-shadow: none; }

.resilify-existing-users .list-group-item img {
  margin-right: 12px; }

/* USER ACTIVITY */
.resilify-user-activity {
  padding-top: 30px; }
  .resilify-user-activity .guidance-bar .btn-group {
    margin: -13px 0; }
  .resilify-user-activity .bootcards-container {
    padding-top: 50px; }
  .resilify-user-activity .bootcards-accordion .list-group-item.bootcards-list-subheading {
    padding-left: 65px; }
    .resilify-user-activity .bootcards-accordion .list-group-item.bootcards-list-subheading:before {
      width: 36px;
      text-align: center; }
  .resilify-user-activity .bootcards-accordion a.list-group-item img {
    height: 36px;
    width: 36px; }
  .resilify-user-activity .bootcards-cards .panel-heading img {
    margin-right: 15px;
    margin-top: 7px; }
  .resilify-user-activity .bootcards-cards .panel-heading .text-muted {
    color: #777 !important; }

/* ACCORDION */
.bootcards-accordion .list-group-item.bootcards-list-subheading {
  background: #f5f5f5 !important;
  padding-left: 48px; }
  .bootcards-accordion .list-group-item.bootcards-list-subheading:before {
    font-size: 24px;
    width: 20px;
    color: #337ab7;
    transition: all 0.3s ease; }
  .bootcards-accordion .list-group-item.bootcards-list-subheading .list-group-item-heading {
    font-size: 16px;
    font-weight: 500; }
  .bootcards-accordion .list-group-item.bootcards-list-subheading .list-group-item-text {
    font-weight: normal; }

/* ADDRESS BOOK */
.resilify-address-book {
  padding-top: 80px; }
  .resilify-address-book .guidance-bar .btn-group {
    margin: -13px 0; }
  .resilify-address-book .panel-body:first-child {
    border-bottom: 1px solid #ddd; }
  .resilify-address-book .phone-numbers .list-group-item-text {
    margin-bottom: 10px; }

/* WIKI MODULE */
.resilify-wiki {
  padding-top: 30px; }

.bootcards-wiki .bootcards-wiki-panel .panel-heading .btn {
  font-size: 14px;
  line-height: 20px; }
.bootcards-wiki .bootcards-wiki-panel .bootcards-wiki-panel-controls .btn {
  font-size: 14px;
  line-height: 20px; }
.bootcards-wiki .bootcards-wiki-panel .bootcards-wiki-panel-editing {
  padding: 0;
  position: relative;
  font-size: 0; }
  .bootcards-wiki .bootcards-wiki-panel .bootcards-wiki-panel-editing iframe {
    min-height: 300px; }

.bootcards-wiki-accordion h5.list-group-item-heading {
  margin-left: 15px; }

/* Desktop */
.desktop .bootcards-wiki .bootcards-wiki-panel-metadata {
  padding: 10px 15px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd; }
  .desktop .bootcards-wiki .bootcards-wiki-panel-metadata .form-group {
    margin-bottom: 10px; }
    .desktop .bootcards-wiki .bootcards-wiki-panel-metadata .form-group:last-child {
      margin-bottom: 0; }
    .desktop .bootcards-wiki .bootcards-wiki-panel-metadata .form-group .control-label {
      padding-right: 0; }

/* iOS */
.ios .bootcards-wiki .panel-heading {
  min-height: 44px; }
  .ios .bootcards-wiki .panel-heading .pull-left .btn {
    margin-left: 0;
    margin-right: 20px; }
.ios .bootcards-wiki .bootcards-wiki-panel-editing {
  border-top: 1px solid #ddd; }

/* Android */
.android .bootcards-wiki .panel-heading {
  min-height: 44px; }
  .android .bootcards-wiki .panel-heading .pull-left .btn {
    margin-left: 0;
    margin-right: 20px; }
.android .bootcards-wiki .bootcards-wiki-panel-metadata {
  padding-top: 5px;
  padding-bottom: 5px; }
  .android .bootcards-wiki .bootcards-wiki-panel-metadata .form-group {
    margin-bottom: 5px; }
    .android .bootcards-wiki .bootcards-wiki-panel-metadata .form-group:last-child {
      margin-bottom: 0; }
    .android .bootcards-wiki .bootcards-wiki-panel-metadata .form-group .btn {
      line-height: 28px; }
.android .bootcards-wiki .bootcards-wiki-panel-editing {
  border-top: 1px solid #ddd; }
