<div>
  
  <div class="modal-header clearfix">
    <div class="btn-group pull-left">
	    <button type="button" class="btn btn-link" ng-click="done()">
      	<i class="fa fa-lg fa-arrow-left"></i>
      </button>
    </div>
    <div class="btn-group pull-right">
	    <button type="button" class="btn btn-success" ng-click="saveItem(canvasItemForm)">
      	Done
      </button>
    </div>		    
    <h4 class="modal-title">Background &amp; context</h4>
  </div>
  
  <div class="modal-body">
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
		  	<a href="#editDetails-backgroundAndContext-note" data-toggle="tab" class="btn btn-default">
			  	Text note
			  </a>
			</div>
		  <div class="btn-group">
			  <a href="#editDetails-backgroundAndContext-file" data-toggle="tab" class="btn btn-default">
			  	File attachment
			  </a>
		  </div>
		  <div class="btn-group">
			  <a href="#editDetails-backgroundAndContext-improvement" data-toggle="tab" class="btn btn-default">
			  	Improvement opportunity
			  </a>
		  </div>
		</div>
		
		<hr>
		
		<div class="tab-content">
			
			<div role="tabpanel" class="tab-pane" id="editDetails-backgroundAndContext-note">
        <form class="form-horizontal">
          <div class="specialrichtext">
            <div id="content-container">
              <div id="editor-wrapper">
                <div class="ql-toolbar-container btn-group" id="formatting-container">
                  <a class="ql-bold btn btn-default icon-only" href="#" title="Bold">
                    <i class="fa fa-bold"></i>
                  </a>
                  <a class="ql-italic btn btn-default icon-only" href="#" title="Italic">
                    <i class="fa fa-italic"></i>
                  </a>
                  <a class="ql-underline btn btn-default icon-only" href="#" title="Underline">
                    <i class="fa fa-underline"></i>
                  </a>
                  <a class="ql-strike btn btn-default icon-only" href="#" title="Strikethrough">
                    <i class="fa fa-strikethrough"></i>
                  </a>
                  <a class="ql-bullet btn btn-default icon-only" href="#" title="Bullet">
                    <i class="fa fa-list-ul"></i>
                  </a>
                  <a class="ql-list btn btn-default icon-only" href="#" title="List">
                    <i class="fa fa-list-ol"></i>
                  </a>
                </div>
                <div class="ql-container" id="editor-container">
                  <iframe frameborder="0" height="100%" width="100%" title="Quill Rich Text Editor" role="presentation"></iframe>
                </div>
              </div>
            </div>
            <textarea class="richtextsourcefield" fieldname="value">&lt;p class="bs-example line" id="line-11"&gt;Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.&lt;/p&gt;&lt;p class="bs-example line" id="line-13"&gt;Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.&lt;/p&gt;&lt;p class="bs-example line" id="line-15"&gt;Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.&lt;/p&gt;
            </textarea>
          </div>
        </form>  					
			</div>
			
			<div role="tabpanel" class="tab-pane" id="editDetails-backgroundAndContext-file">
        <form class="form-horizontal">
          <div>
            Tap 'Select' to take a new photo or select from your Photos library, then tap 'Upload'.
            <div style="margin-top:15px; text-align: center;">
              <div class="js-photouploader">
                <div class="photoUpload btn btn-primary" style="display: none;">
                  <span>Select photo</span>
                </div>
                <div class="js-photouploader-preview">
                  <span style="font-size: 200px; color: #bbb;" class="fa fa-2x fa-camera"></span>
                </div>
              </div>
              <span class="js-custom-select-var hidden">.js-custom-photo-select</span>
            </div>
          </div>
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <div class="js-custom-photo-select photoUpload btn btn-default">
                <i class="fa fa-camera"></i>Select
                <input type="file" class="js-photouploader-upload" accept="image/*" onchange="
                unp.photoUploader.targetWidth = 1024;
        				unp.photoUploader.targetHeight = 768;
         				unp.photoUploader.doCrop = false;
                var file = event.target.files[0];
        
                //no rotation when a new photo is loaded
                unp.photoUploader.orientation = 0;	
                unp.photoUploader.loadImage(file);">
              </div>
            </div>
            <div class="btn-group">
              <button class="btn btn-default" onclick="unp.photoUploader.rotateImage(true)" type="button">
                <i class="fa fa-rotate-right"></i>Rotate
              </button>
            </div>
            <div class="btn-group">
              <button class="hidden" type="button" name="view:_id1:_id183:button1" id="view:_id1:_id183:button1">save</button>
              <button type="button" onclick="unp.photoUploader.savePhoto(this, 'view:_id1:_id183:button1')" class="btn btn-default uploadphotobutton">
                <i class="fa fa-upload"></i>Upload
              </button>
            </div>
          </div>
        </form>  					
			</div>
			
			<div role="tabpanel" class="tab-pane" id="editDetails-backgroundAndContext-improvement">
        <form class="form-horizontal">
	        <div class="specialrichtext">
            <div id="content-container">
              <div id="editor-wrapper">
                <div class="ql-toolbar-container btn-group" id="formatting-container">
                  <a class="ql-bold btn btn-default icon-only" href="#" title="Bold">
                    <i class="fa fa-bold"></i>
                  </a>
                  <a class="ql-italic btn btn-default icon-only" href="#" title="Italic">
                    <i class="fa fa-italic"></i>
                  </a>
                  <a class="ql-underline btn btn-default icon-only" href="#" title="Underline">
                    <i class="fa fa-underline"></i>
                  </a>
                  <a class="ql-strike btn btn-default icon-only" href="#" title="Strikethrough">
                    <i class="fa fa-strikethrough"></i>
                  </a>
                  <a class="ql-bullet btn btn-default icon-only" href="#" title="Bullet">
                    <i class="fa fa-list-ul"></i>
                  </a>
                  <a class="ql-list btn btn-default icon-only" href="#" title="List">
                    <i class="fa fa-list-ol"></i>
                  </a>
                </div>
                <div class="ql-container" id="editor-container">
                  <iframe frameborder="0" height="100%" width="100%" title="Quill Rich Text Editor" role="presentation"></iframe>
                </div>
              </div>
            </div>
            <textarea class="richtextsourcefield" fieldname="value">&lt;p class="bs-example line" id="line-11"&gt;Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.&lt;/p&gt;&lt;p class="bs-example line" id="line-13"&gt;Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.&lt;/p&gt;&lt;p class="bs-example line" id="line-15"&gt;Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.&lt;/p&gt;
            </textarea>
          </div>
        </form>  					
			</div>
		</div>
  </div>	
	<div class="modal-footer">
    
  </div>
	
</div>