
<div>
  <div class="modal-header">
    <div class="btn-group pull-left visible-xs">
	    <button class="btn btn-link icon-only">
      	<i class="fa fa-lg fa-print"></i>
      </button>
    </div>
    <div class="btn-group pull-right">
	    <button class="btn btn-link icon-only icon-only hidden-xs">
      	<i class="fa fa-lg fa-print"></i>
      </button>
	    <button href="#" class="btn btn-link icon-only icon-only" ng-click="cancel()">
      	<i class="fa fa-lg fa-times"></i>
      </button>
    </div>
    <h4 class="modal-title">Background &amp; context</h4>
  </div>
  <div class="modal-body">

		<ul role="tablist" class="nav">
		  <li role="presentation" class="active">
		  	<a href="#allTypes" role="tab" data-toggle="tab">
			  	All
			  </a>
			</li>
		  <li role="presentation">
		  	<a href="#textNotes" role="tab" data-toggle="tab">
			  	Notes
			  </a>
			</li>
			<li role="presentation">
		  	<a href="#fileAttachments" role="tab" data-toggle="tab">
			  	Files
			  </a>
			</li>
			<li role="presentation">
		  	<a href="#improvementOpportunities" role="tab" data-toggle="tab">
			  	Improvement opportunities
			  </a>
			</li>
		</ul>        
    
		<div class="tab-content">
			
			<div role="tabpanel" class="tab-pane active" id="allTypes">      
				<div class="table-responsive">
					<table class="table resilify-table">
						<thead>
							<tr>
								<th>Title</th>
								<th>Type</th>
                <th class="resilify-show-toggle">On canvas?</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items">
                <td>{{item.name}}</td>
  							<td>Type goes here</td>
  							<td>
    							<a href="#" class="canvas-toggle note" ng-click="toggleShowOnCanvas(item)" ng-class="{'active':item.showOnCanvas}">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div role="tabpanel" class="tab-pane" id="textNotes">      
				<div class="table-responsive">
					<table class="table resilify-table">
						<thead>
							<tr>
								<th><i class="fa fa-check"></i></th>
								<th>Note title</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
  							<td>Sample note title goes here</td>
  							<td>Sample note content goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada. In vulputate ipsum quis dui fermentum rhoncus.</td>
  							<td>
    							<a href="#" class="canvas-toggle note" ng-click="toggleShowOnCanvas(item)" ng-class="{'active':item.showOnCanvas}">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div role="tabpanel" class="tab-pane" id="fileAttachments">      
				<div class="table-responsive">
					<table class="table resilify-table">
						<thead>
							<tr>
								<th><i class="fa fa-check"></i></th>
								<th>File</th>
								<th>Description</th>
								<th>View</th>
							</tr>
						</thead>
						<tbody>
							<tr>
  							<td>File title goes here</td>
  							<td>Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada.</td>
  							<td>
    							<a href="#">View File</a>
  							</td>
  							<td>
    							<a href="#" class="canvas-toggle note" ng-click="toggleShowOnCanvas(item)" ng-class="{'active':item.showOnCanvas}">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div role="tabpanel" class="tab-pane" id="improvementOpportunities">      
				<div class="table-responsive">
					<table class="table resilify-table">
						<thead>
							<tr>
								<th><i class="fa fa-check"></i></th>
								<th>Improvement opportunity</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
  							<td>Opportunity Title Goes Here</td>
  							<td>Sample note content goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada. In vulputate ipsum quis dui fermentum rhoncus.</td>
  							<td>
    							<a href="#" class="canvas-toggle note" ng-click="toggleShowOnCanvas(item)" ng-class="{'active':item.showOnCanvas}">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>					
    </div>
  </div>
</div>