
<div>
	    <div class="modal-header">
		    <div class="btn-group pull-left visible-xs">
			    <button class="btn btn-link icon-only">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>
		    </div>
		    <div class="btn-group pull-right">
			    <button class="btn btn-link icon-only icon-only hidden-xs">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>
			    <button href="#" class="btn btn-link icon-only icon-only" data-dismiss="modal">
		      	<i class="fa fa-lg fa-times"></i>
		      </button>
		    </div>
		    <h4 class="modal-title">Background &amp; Context</h4>
	    </div>
      <div class="modal-body">
				<ul role="tablist" class="nav">
				  <li role="presentation" class="active">
				  	<a href="http://clients.jackherbert.com/resilify/board.html#allTypes" role="tab" data-toggle="tab">
					  	All
					  </a>
					</li>
				  <li role="presentation">
				  	<a href="http://clients.jackherbert.com/resilify/board.html#textNotes" role="tab" data-toggle="tab">
					  	Notes
					  </a>
					</li>
					<li role="presentation">
				  	<a href="http://clients.jackherbert.com/resilify/board.html#fileAttachments" role="tab" data-toggle="tab">
					  	Files
					  </a>
					</li>
					<li role="presentation">
				  	<a href="http://clients.jackherbert.com/resilify/board.html#improvementOpportunities" role="tab" data-toggle="tab">
					  	Improvement Opportunities
					  </a>
					</li>
				  <li role="presentation">
				  	<a href="http://clients.jackherbert.com/resilify/board.html#interestedParties" role="tab" data-toggle="tab">
					  	Interested Parties
					  </a>
					</li>
				</ul>
				<div class="tab-content">
					
					<div role="tabpanel" class="tab-pane active" id="allTypes">      
						<div class="table-responsive">
							<table class="table resilify-table">
								<thead>
									<tr>
										<th><i class="fa fa-check"></i></th>
										<th>Title</th>
										<th>Type</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Text Note</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>File Attachment</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Improvement Opportunity</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Interested Party</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Text Note</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>File Attachment</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Improvement Opportunity</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Interested Party</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Text Note</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>File Attachment</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Improvement Opportunity</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Interested Party</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane" id="textNotes">      
						<div class="table-responsive">
							<table class="table resilify-table">
								<thead>
									<tr>
										<th><i class="fa fa-check"></i></th>
										<th>Note Title</th>
										<th>Details</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Sample note title goes here</td>
      							<td>Sample note content goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada. In vulputate ipsum quis dui fermentum rhoncus.</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Sample note title goes here</td>
      							<td>Sample note content goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada. In vulputate ipsum quis dui fermentum rhoncus.</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Sample note title goes here</td>
      							<td>Sample note content goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada. In vulputate ipsum quis dui fermentum rhoncus.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane" id="fileAttachments">      
						<div class="table-responsive">
							<table class="table resilify-table">
								<thead>
									<tr>
										<th><i class="fa fa-check"></i></th>
										<th>File</th>
										<th>Description</th>
										<th>View</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>File title goes here</td>
      							<td>Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada.</td>
      							<td>
        							<a href="#">View File</a>
      							</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>File title goes here</td>
      							<td>Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada.</td>
      							<td>
        							<a href="#">View File</a>
      							</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>File title goes here</td>
      							<td>Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada.</td>
      							<td>
        							<a href="#">View File</a>
      							</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane" id="improvementOpportunities">      
						<div class="table-responsive">
							<table class="table resilify-table">
								<thead>
									<tr>
										<th><i class="fa fa-check"></i></th>
										<th>Improvement Opportunity</th>
										<th>Details</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Opportunity Title Goes Here</td>
      							<td>Sample note content goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada. In vulputate ipsum quis dui fermentum rhoncus.</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Opportunity Title Goes Here</td>
      							<td>Sample note content goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada. In vulputate ipsum quis dui fermentum rhoncus.</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Opportunity Title Goes Here</td>
      							<td>Sample note content goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada. In vulputate ipsum quis dui fermentum rhoncus.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane" id="interestedParties">      
						<div class="table-responsive">
							<table class="table resilify-table">
								<thead>
									<tr>
										<th><i class="fa fa-check"></i></th>
										<th>Interested party</th>
										<th>Contact name</th>
										<th>Email</th>
										<th>Phone</th>
										<th>Requirement</th>
										<th>Notes</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td rowspan="2">
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
										<td rowspan="2">
											Employees
										</td>
										<td rowspan="2">John Smith</td>
										<td rowspan="2"><a href="mailto:john@company.com">john@company.com</a></td>
										<td rowspan="2"><a href="tel:0123456789">(012) 345 6789</a></td>
										<td>1. Safety</td>
										<td></td>
									</tr>
									<tr>
										<td>2. What to do</td>
										<td></td>
									</tr>
									<tr>
										<td rowspan="3">
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
										<td rowspan="3">
											Shareholders
										</td>
										<td rowspan="3">Dougie Freedman</td>
										<td rowspan="3"><a href="mailto:john@company.com">dougie@company.com</a></td>
										<td rowspan="3"><a href="tel:0123456789">(012) 987 6543</a></td>
										<td>1. Mitigation of financial impacts</td>
										<td></td>
									</tr>
									<tr>
										<td>2. Protection of brand reputation</td>
										<td></td>
									</tr>
									<tr>
										<td>3. Lorem ipsum dolor</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
	      </div>
      </div>
</div>