
<div class="navbar navbar-inverse navbar-fixed-bottom canvas-footer">
	<div class="row">
		<div class="col-sm-2">
			<h4><span class="badge">1</span> Define departments &amp; roles</h4>
		</div>
		<div class="col-sm-2">
			<h4><span class="badge">2</span> Define products &amp; services</h4>
		</div>
		<div class="col-sm-2">
			<h4><span class="badge">3</span> Define key activities &amp; processes</h4>
		</div>
		<div class="col-sm-2">
			<h4><span class="badge">4</span> Define dependencies</h4>
		</div>
		<div class="col-sm-2">
			<h4><span class="badge">5</span> Define key suppliers</h4>
		</div>
		<div class="col-sm-2">
			<h4><span class="badge">6</span> List interested parties</h4>
		</div>
	</div>
</div>
