
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="btn-group">
		<a href="#" class="btn btn-link">
			<i class="fa fa-2x fa-calendar"></i>
			Calendar
		</a>
		<a href="#" class="btn btn-link">
			<span class="badge">3</span>
			<i class="fa fa-table"></i>
			Agendas &amp; minutes
		</a>
		<a href="#" class="btn btn-link">
			<span class="badge">2</span>
			<i class="fa fa-table"></i>
			Communications records
		</a>
		<a href="#" class="btn btn-link">
			<i class="fa fa-table"></i>
			Performance evaluation
		</a>
		<a href="#" class="btn btn-link">
			<span class="badge">9</span>
			<i class="fa fa-table"></i>
			Non-conformities
		</a>
		<a href="#" class="btn btn-link">
			<span class="badge">5</span>
			<i class="fa fa-table"></i>
			Corrective actions &amp; improvements
		</a>
	</div>
</div>
