<div class="resilify-dashboard-page">

  <isa-header multi-line="true"></isa-header>
  <isa-guidance-bar ng-hide="_hideGuidance">
  	<h4>Click on <i class="fa fa-plus-circle"></i> to add a new document or organization. Go to Templates to view example documents. Go to Address Book to add a user.</h4>
  </isa-guidance-bar>

  <div style="position:absolute; width:100%; height:42px; background: #337AB7">
  </div>

  <div class="container bootcards-container" id="main">
  	<div class="row">
  		<div class="col-xs-12 bootcards-cards resilify-dashboard-tabs">

        <tabset justified="true">
          <tab heading="Active Projects">

            <div class="resilify-dashboard-items">

                <a ng-click="addPlan()" class="resilify-dashboard-add">
                  <i class="fa fa-plus-circle"></i>
                  New document or organization
                </a>

              <div class="row">

                <div ng-repeat="plan in plans">
                  <div ng-include src="'/components/overview/plan.html'"></div>
                </div>

              </div>

            </div>

          </tab>
          <tab heading="Templates">

          <div class="resilify-dashboard-items">

            <a ng-click="addPlan()" class="resilify-dashboard-add">
                  <i class="fa fa-plus-circle"></i>
                  New document or organization
                </a>

            <div class="row">
              <div ng-repeat="plan in templates">
                <div ng-include src="'/components/overview/plan.html'"></div>
              </div>
              <div ng-show="templates.length ==0">
                There aren't any templates yet
              </div>
            </div>

          </div>

          </tab>
          <tab heading="Archive">

          <div class="resilify-dashboard-items">

            <a ng-click="addPlan()" class="resilify-dashboard-add">
                  <i class="fa fa-plus-circle"></i>
                  New document or organization
                </a>

            <div class="row">
              <div ng-repeat="plan in archived">
                <div ng-include src="'/components/overview/plan.html'"></div>
              </div>
              <div ng-show="archived.length ==0">
                No documents have been archived
              </div>
            </div>

          </div>

          </tab>

          <tab heading="Trash">

          <div class="resilify-dashboard-items">

            <a ng-click="addPlan()" class="resilify-dashboard-add">
                  <i class="fa fa-plus-circle"></i>
                  New document or organization
                </a>

            <div class="row">
              <div ng-repeat="plan in modulesTrash">
                <div ng-include src="'/components/overview/plan.html'"></div>
              </div>
              <div ng-show="modulesTrash.length ==0">
                There aren't any documents in the trash currently
              </div>
            </div>

          </div>

          </tab>
        </tabset>


  		</div>
  	</div>
  </div>

</div>
