<div class="panel panel-default">

	<div class="panel-heading">

		<a class="pull-right btn btn-link" ng-click="setEditmode()" ng-show="!edit">Edit</a>
		<a class="pull-right btn btn-link" ng-click="save(sectionForm)" ng-show="edit">Save</a>
		{{section.title || 'Add a section'}}
		
	</div>

	<div class="panel-body">

		<div class="form-horizontal panel-body">

			<div class="form-group">

				<label class="col-sm-3">Section</label>
				<div class="col-sm-9">{{section.section}}</div>

			</div>

			<div class="form-group">

				<label class="col-sm-3">Title</label>
				<div class="col-sm-9">{{section.title}}</div>

			</div>

			<div ng-bind-html="section.contents"></div>

		</div>

	</div>
	
</div>

