<div class="panel panel-default">

<form name="sectionForm" novalidate class="form-horizontal">

	<div class="panel-heading">

		<a class="pull-right btn btn-link" ng-click="setEditmode()" ng-show="!edit">Edit</a>
		<a class="pull-right btn btn-link" ng-click="save(sectionForm)" ng-show="edit">Save</a>

		{{section.title || 'Add a section'}}
		
	</div>

	<div class="panel-body">

		<div class="form-group" ng-class="{ 'has-error' : submitted && sectionForm.section.$invalid }">

			<label class="col-sm-2">Section</label>
		
			<div class="col-sm-10">
				<input name="section" class="form-control" ng-model="section.section" required />
			</div>

		</div>

		<div class="form-group">

			<label class="col-sm-2">Title</label>
		
			<div class="col-sm-10">
				<input name="title" class="form-control" ng-model="section.title" />
			</div>

		</div>

		<div text-angular ng-model="section.contents" ta-toolbar="[['h1','h2','h3'],['bold','italics']]"></div>	

	</div>

</form>

</div>


