<!-- Activities & Assets Table View -->

<div class="modal fade table-view-modal" id="activitiesAndAssetsTableModal" tabindex="-1" role="dialog" aria-labelledby="activitiesAndAssetsTableModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header">
		    <div class="btn-group pull-left visible-xs">
			    <button class="btn btn-link icon-only">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>	      
		    </div>
		    <div class="btn-group pull-right">
			    <button class="btn btn-link icon-only hidden-xs">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>
			    <button href="#" class="btn btn-link icon-only" data-dismiss="modal">
		      	<i class="fa fa-lg fa-times"></i>
		      </button>
		    </div>
		    <h4 class="modal-title">Activities &amp; assets</h4>	      
	    </div>
      <div class="modal-body">
				<div class="table-responsive">
					<table class="table resilify-table">
						<thead>
							<tr>
  							<th><i class="fa fa-check"></i></th>
								<th>Name</th>
								<th>Location</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
  							<td>
    							<a href="#" class="canvas-toggle active">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
								<td>
									Activity name here
								</td>
								<td>Location goes here</td>
								<td>Notes go here lorem ipsum dolor</td>
							</tr>
							<tr>
								<td>
    							<a href="#" class="canvas-toggle active">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
								<td>
									Activity name here
								</td>
								<td>Location goes here</td>
								<td>Notes go here lorem ipsum dolor</td>
							</tr>
							<tr>
								<td>
    							<a href="#" class="canvas-toggle">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
								<td>
									Activity name here
								</td>
								<td>Location goes here</td>
								<td>Notes go here lorem ipsum dolor</td>
							</tr>
						</tbody>
					</table>
				</div>
      </div>
    </div>
  </div>
</div>