
<div class="modal-content">
	<form class="form-horizontal" name="collectionForm" novalidate>
		<isa-modal-header
			title="Products &amp; Services"
			can-save="canSave()"
			can-delete="canDelete()"
			on-delete="delete()"
			on-save="save()">
		</isa-modal-header>
		<div class="modal-body">
			<div class="panel panel-default" ng-repeat="item in collection">
				<div class="panel-heading">
					<div class="form-group" href="#products-{{ $index }}" data-toggle="collapse">
						<label class="control-label col-sm-3">Name</label>
						<div class="col-sm-9">
							<input name="name{{ $index }}" class="form-control" type="text" ng-model="item.name" required="">
							<div ng-show="collectionForm['name' + $index].$touched && collectionForm['name' + $index].$error.required">
								Please enter a name.
							</div>
						</div>
					</div>
					<div class="collapse" id="products-{{ $index }}">
						<div class="form-group">
							<label class="control-label col-sm-3">Notes</label>
							<div class="col-sm-9">
								<textarea class="form-control" ng-model="item.notes" placeholder="Optional"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<isa-modal-footer
				title="Add another product or service"
				can-add="canAdd()"
				on-add="addToCollection()">
			</isa-modal-footer>
		</div>
	</form>
</div>
