
<div class="col-sm-6 col-md-4">
	<div class="panel panel-default resilify-dashboard-item">			
		<div class="panel-body" ng-click="openPlan(plan)">
		  <img class="canvas-icon pull-left" src="/assets/img/resilify-icon-small@2x.png" alt="Canvas icon"/>
			<h3 class="panel-title">{{plan.title}}</h3>
			<p class="text-muted">{{plan.orgName}}</p>
			<div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width: 85%;">
          85%
        </div>
      </div>
			<p>{{plan.description}}</p>
			
		</div>
		<ul role="tablist" class="nav nav-justified">
			<li>
				<a href="">
					To Dos
				</a>
			</li>
			<li>
				<a href="">
					Discussions
				</a>
			</li>
			<li>
				<a ng-click="editPlan(plan)">
					<i class="fa fa-lg fa-gear"></i>
				</a>
			</li>
		</ul>		
		<div class="panel-footer">			
			<ul class="users">
				<li ng-repeat="user in plan.users">
					<img class="img-circle" ng-src="{{user.profileUrl}}" tooltip="{{user.name}}">
				</li>
				<li>
					<a ui-sref="planUsers({ planId : plan.id } )" class="add-user" data-toggle="tooltip" title="" data-original-title="Add a User">
						<i class="fa fa-plus"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>