<div>	
  <div class="modal-header clearfix">
    <div class="btn-group pull-left">
	    <button type="button" class="btn btn-default" ng-click="done()">
      	Back
      </button>
    </div>
    <div class="btn-group pull-right">
	    <button type="button" class="btn btn-success" ng-click="saveItem(canvasItemForm)">
      	Done
      </button>
    </div>		    
    <h4 class="modal-title">Edit details</h4>
  </div>
  <form name="canvasItemForm" class="form-horizontal">
    <div class="modal-body">
      <div class="form-group">
        <label class="control-label col-sm-5">Activity/asset</label>
        <div class="col-sm-7">
	        <input class="form-control" type="text" value="Building">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5">Potential event</label>
        <div class="col-sm-7">
	        <input class="form-control" type="text" value="Loss of entire building">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5">Likely causes</label>
        <div class="col-sm-7">
	        <input class="form-control" type="text" value="fire, flood, earthquake">
        </div>
      </div>
    </div>

    <legend>
      Activation tasks
      <button type="button" class="btn btn-link pull-right icon-only">
        <i class="fa fa-plus-circle"></i>
      </button> 
    </legend>   
    
    <div class="list-group" id="responseProcedures-activation">
      <div class="list-group-item" data-toggle="collapse" data-parent="#responseProcedures-activation" href="#responseProcedures-activation-1">
        <h4 class="list-group-item-heading">
          1. Activate team
        </h4>
        <p class="list-group-item-text">
          Lorem ipsum dolor
        </p>
        <button type="button" class="btn btn-link pull-right icon-only">
          <i class="fa fa-minus-circle"></i>
        </button>        
      </div>
      <div class="collapse" id="responseProcedures-activation-1">
        <div class="list-group-item">
	        <div class="form-group">
		        <div class="col-sm-2">
			        <input class="form-control" type="text" value="1">
		        </div>
		        <div class="col-sm-6">
			        <input class="form-control" type="text" value="Activate team">
		        </div>
		        <div class="col-sm-4">
			        <select class="form-control">
  			        <option>Select type</option>
  			        <option selected="selected">Activation</option>
  			        <option>Ongoing</option>
  			        <option>Deactivation</option>
			        </select>
		        </div>		        
	        </div>
          <div class="form-group">
            <div class="col-sm-12">
              <textarea class="form-control">Lorem ipsum dolor</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <legend>
      Ongoing tasks
      <button type="button" class="btn btn-link pull-right icon-only">
        <i class="fa fa-plus-circle"></i>
      </button> 
    </legend>   
    
    <div class="list-group" id="responseProcedures-ongoing">
      <div class="list-group-item" data-toggle="collapse" data-parent="#responseProcedures-ongoing" href="#responseProcedures-ongoing-1">
        <h4 class="list-group-item-heading">
          2. Get background info
        </h4>
        <p class="list-group-item-text">
          Lorem ipsum dolor
        </p>
        <button type="button" class="btn btn-link pull-right icon-only">
          <i class="fa fa-minus-circle"></i>
        </button>        
      </div>
      <div class="collapse" id="responseProcedures-ongoing-1">
        <div class="list-group-item">
	        <div class="form-group">
		        <div class="col-sm-2">
			        <input class="form-control" type="text" value="1">
		        </div>
		        <div class="col-sm-6">
			        <input class="form-control" type="text" value="Activate team">
		        </div>
		        <div class="col-sm-4">
			        <select class="form-control">
  			        <option>Select type</option>
  			        <option selected="selected">Activation</option>
  			        <option>Ongoing</option>
  			        <option>Deactivation</option>
			        </select>
		        </div>		        
	        </div>
          <div class="form-group">
            <div class="col-sm-12">
              <textarea class="form-control">Lorem ipsum dolor</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <legend>
      Deactivation tasks
      <button type="button" class="btn btn-link pull-right icon-only">
        <i class="fa fa-plus-circle"></i>
      </button> 
    </legend>   
    
    <div class="list-group" id="responseProcedures-deactivation">
      <div class="list-group-item" data-toggle="collapse" data-parent="#responseProcedures-deactivation" href="#responseProcedures-deactivation-1">
        <h4 class="list-group-item-heading">
          3. Deactivate team
        </h4>
        <p class="list-group-item-text">
          Lorem ipsum dolor
        </p>
        <button type="button" class="btn btn-link pull-right icon-only">
          <i class="fa fa-minus-circle"></i>
        </button>        
      </div>
      <div class="collapse" id="responseProcedures-deactivation-1">
        <div class="list-group-item">
	        <div class="form-group">
		        <div class="col-sm-2">
			        <input class="form-control" type="text" value="1">
		        </div>
		        <div class="col-sm-6">
			        <input class="form-control" type="text" value="Activate team">
		        </div>
		        <div class="col-sm-4">
			        <select class="form-control">
  			        <option>Select type</option>
  			        <option selected="selected">Activation</option>
  			        <option>Ongoing</option>
  			        <option>Deactivation</option>
			        </select>
		        </div>		        
	        </div>
          <div class="form-group">
            <div class="col-sm-12">
              <textarea class="form-control">Lorem ipsum dolor</textarea>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
	
</div>