<div>
	<div class="modal-header">
	    <div class="btn-group pull-left visible-xs">
		    <button class="btn btn-link icon-only">
	      	<i class="fa fa-lg fa-print"></i>
	      </button>	      
	    </div>
	    <div class="btn-group pull-right">
		    <button class="btn btn-link icon-only hidden-xs">
	      	<i class="fa fa-lg fa-print"></i>
	      </button>
			<button href="#" class="btn btn-link icon-only" ng-click="cancel()">
	      		<i class="fa fa-lg fa-times"></i>
			</button>
	    </div>
	    <h4 class="modal-title">Entities at risk</h4>	      
	</div>
    <div class="modal-body">
		<div class="table-responsive">
			<table class="table resilify-table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Location</th>
						<th>Details</th>
						<th class="text-center">Business criticality</th>
						<th class="resilify-show-toggle">On canvas?</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in items">
						<td>
							<a ng-click="editDetails(item)">
								{{item.name}}
							</a>
						</td>
						<td click-to-edit="location" item="item"></td>
						<td click-to-edit="details" item="item"></td>
						<td><span class="low">L</span></td>
						<td>
							<a href="#" class="canvas-toggle" ng-click="toggleShowOnCanvas(item)" ng-class="{'active':item.showOnCanvas}">
  							<i class="fa fa-check fa-lg"></i>
							</a>
						</td>						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>