
<div>
	    <div class="modal-header">
		    <div class="btn-group pull-left visible-xs">
			    <button class="btn btn-link icon-only" data-toggle="dropdown" aria-expanded="false">
		      	<i class="fa fa-lg fa-gear"></i>
		      </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a ng-click="toggleMitigation()">
					    <i class="fa fa-lg fa-eye-slash"></i> 
					    Hide Mitigation
					  </a></li>
				    <li class="divider"></li>
				    <li><a href="#">
					    <i class="fa fa-lg fa-print"></i> 
					    Print
					  </a></li>
				  </ul>		      
		    </div>
		    <div class="btn-group pull-right">
  		    <button class="btn btn-link hidden-xs" ng-click="toggleMitigation()" ng-show="showMitigation">
  	      	<i class="fa fa-lg fa-eye-slash"></i>
  	      	<span>Hide Mitigation</span>
  	      </button>
  	      <button class="btn btn-link hidden-xs" ng-click="toggleMitigation()" ng-hide="showMitigation">
  	      	<i class="fa fa-lg fa-eye"></i>
  	      	<span>Show Mitigation</span>
  	      </button>
			    <button class="btn btn-link icon-only hidden-xs">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>
			    <button href="#" class="btn btn-link icon-only" ng-click="cancel()">
	      		<i class="fa fa-lg fa-times"></i>
			</button>
		    </div>
		    <h4 class="modal-title">Risk Analysis</h4>	      
	    </div>
      <div class="modal-body">
				<div class="table-responsive">
					<table class="table resilify-table">
						<thead>
							<tr>
								<th rowspan="2">Activity / asset</th>
								<th rowspan="2">Potential event</th>
								<th rowspan="2" class="text-center">Event size</th>
								<th rowspan="2" class="text-center">Event %</th>
								<th colspan="5" class="text-center">Impacts</th>
								<th rowspan="2" class="text-center">Overall risk rating max 25</th>
  							<th rowspan="2" class="resilify-show-toggle">On canvas?</th>
							</tr>
							<tr>
								<th class="text-center">
									<i class="fa fa-2x fa-users"></i>
								</th>
								<th class="text-center">
									<i class="fa fa-2x fa-building"></i>
								</th>
								<th class="text-center">
									<i class="fa fa-2x fa-gears"></i>
								</th>
								<th class="text-center">
									<i class="fa fa-2x fa-database"></i>
								</th>
								<th class="text-center">
									<i class="fa fa-2x fa-leaf"></i>
								</th>
							</tr>
						</thead>
						<tbody>

							<tr ng-repeat-start="item in items">
								<td rowspan="{{(showMitigation ? '5' : '1')}}">{{item.name}}</td>
								<td rowspan="{{(showMitigation ? '5' : '1')}}">Loss of invoicing system
									<span class="subtitle">Likely Causes: Electrical Failure</span>
								</td>
								<td rowspan="{{(showMitigation ? '5' : '1')}}"><span class="low">L</span></td>
								<td rowspan="{{(showMitigation ? '5' : '1')}}"><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="high">H</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="high">H</span></td>
								<td><span class="rating">6</span></td>
                <td rowspan="{{(showMitigation ? '5' : '1')}}">
									<a class="canvas-toggle" ng-click="toggleShowOnCanvas(item)" ng-class="{'active':item.showOnCanvas}">
		  								<i class="fa fa-check"></i>
									</a>
								</td>
							</tr>

							<tr class="mitigation" ng-show="showMitigation">
								<th colspan="6">MITIGATION OPPORTUNITY: Name Goes Here Lorem Ipsum</th>
							</tr>
							<tr class="mitigation" ng-show="showMitigation">
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="low">L</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="rating">3</span></td>								
							</tr>
							<tr class="mitigation" ng-show="showMitigation">
								<th colspan="6">MITIGATION OPPORTUNITY: Name Goes Here Lorem Ipsum</th>
							</tr>
							<tr class="mitigation" ng-show="showMitigation" ng-repeat-end>
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="rating">1</span></td>								
							</tr>
						</tbody>
					</table>
				</div>
      </div>
</div>