
<div>
	    <div class="modal-header">
		    <div class="btn-group pull-left visible-xs">
			    <button class="btn btn-link icon-only" data-toggle="dropdown" aria-expanded="false">
		      	<i class="fa fa-lg fa-gear"></i>
		      </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">
					    <i class="fa fa-lg fa-eye-slash"></i> 
					    Hide Mitigation
					  </a></li>
				    <li class="divider"></li>
				    <li><a href="#">
					    <i class="fa fa-lg fa-print"></i> 
					    Print
					  </a></li>
				  </ul>		      
		    </div>
		    <div class="btn-group pull-right">
			    <button class="btn btn-link hidden-xs">
		      	<i class="fa fa-lg fa-eye-slash"></i>
		      	<span>Hide Mitigation</span>
		      </button>
			    <button class="btn btn-link icon-only hidden-xs">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>
			    <button href="#" class="btn btn-link icon-only" data-dismiss="modal">
		      	<i class="fa fa-lg fa-times"></i>
		      </button>
		    </div>
		    <h4 class="modal-title">Risk Analysis</h4>	      
	    </div>
      <div class="modal-body">
				<div class="table-responsive">
					<table class="table resilify-table">
						<thead>
							<tr>
								<th rowspan="2"><i class="fa fa-check"></i></th>
								<th rowspan="2">Activity / asset</th>
								<th rowspan="2">Potential event</th>
								<th rowspan="2" class="text-center">Event Magnitude</th>
								<th rowspan="2" class="text-center">Probability</th>
								<th colspan="5" class="text-center">Impacts</th>
								<th rowspan="2" class="text-center">Overall Risk Rating</th>
							</tr>
							<tr>
								<th class="text-center">
									<i class="fa fa-2x fa-users"></i>
									People
								</th>
								<th class="text-center">
									<i class="fa fa-2x fa-building"></i>
									Property
								</th>
								<th class="text-center">
									<i class="fa fa-2x fa-gears"></i>
									Operations
								</th>
								<th class="text-center">
									<i class="fa fa-2x fa-database"></i>
									Infotech
								</th>
								<th class="text-center">
									<i class="fa fa-2x fa-leaf"></i>
									Environment
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
    							<a href="#" class="canvas-toggle active">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
								<td>
									Sales
								</td>
								<td>
									Loss of invoicing system
									<span class="subtitle">Likely Causes: Electrical Failure</span>
								</td>
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="high">H</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="high">H</span></td>
								<td><span class="rating">6</span></td>
							</tr>
							<tr>
								<td rowspan="5">
    							<a href="#" class="canvas-toggle active">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
								<td rowspan="5">
									Technical support
								</td>
								<td rowspan="5">
									Loss of building
									<span class="subtitle">Likely Causes: Fire, Flood, Earthquake</span>
								</td>
								<td rowspan="5"><span class="low">L</span></td>
								<td rowspan="5"><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="high">H</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="high">H</span></td>
								<td><span class="rating">6</span></td>	
							</tr>
							<tr class="mitigation">
								<th colspan="6">MITIGATION OPPORTUNITY: Name Goes Here Lorem Ipsum</th>
							</tr>
							<tr class="mitigation">
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="low">L</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="rating">3</span></td>								
							</tr>
							<tr class="mitigation">
								<th colspan="6">MITIGATION OPPORTUNITY: Name Goes Here Lorem Ipsum</th>
							</tr>
							<tr class="mitigation">
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="rating">1</span></td>								
							</tr>
						</tbody>
					</table>
				</div>
      </div>
</div>