<div class="panel-group">

  <div 
  class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a ng-click="toggleSubCategory(subCat)">
          <i class="fa" ng-class="{'fa-chevron-circle-down': !subCat.isCollapsed, 'fa-chevron-circle-right': subCat.isCollapsed}"></i>{{subCat.name}}
        </a>
      </h4>
    </div>
    </div>

    <div collapse="subCat.isCollapsed">

      <div ng-show="subCat.isLoading" 
      style="padding: 10px;">
        <i class="fa fa-spin fa-spinner"></i>
    </div>

    <a ng-repeat="page in subCat.pages | filter : query" 
    class="list-group-item"
    ng-show="!subCat.isLoading"
    ng-style="getIndentation(page)"
    ui-sref="docwiki.page({ pageId : page.id})"
    ui-sref-active="active">
      <h4 class="list-group-item-heading">{{page.section + " " + page.title}}</h4>
    </a>

  </div>

</div>