<div>

  <div class="modal-header clearfix">
    <div class="btn-group pull-left">
	    <button type="button" class="btn btn-link" ng-click="done()">
      	<i class="fa fa-lg fa-arrow-left"></i>
      </button>
    </div>
    <div class="btn-group pull-right">
	    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveItem(canvasItemForm)">
      	Done
      </button>
    </div>		    
    <h4 class="modal-title">Impact analysis</h4>
  </div>
  
  <form name="canvasItemForm" class="form-horizontal">
    <div class="modal-body">
    
      <div class="form-group">
        <label class="control-label col-sm-5">Activity/asset</label>
        <div class="col-sm-7">
	        <input class="form-control" type="text" placeholder="Activity/asset..." value="Sales call centre">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5">MTPD days</label>
        <div class="col-sm-7">
	        <input class="form-control" type="text" placeholder="MTPD days..." value="7">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5">RTO days</label>
        <div class="col-sm-7">
	        <input class="form-control" type="text" placeholder="RTO days..." value="7">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5">RPO</label>
        <div class="col-sm-7">
	        <input class="form-control" type="text" placeholder="RPO (optional)..." value="">
        </div>
      </div>
    </div>
    
    <legend>
      Event magnitude
      <button type="button" class="btn btn-link pull-right icon-only">
        <i class="fa fa-plus-circle"></i>
      </button> 
    </legend>

    <div class="list-group" id="impactAnalysis-magnitude">
      <div class="list-group-item" data-toggle="collapse" data-parent="#impactAnalysis-magnitude" href="#impactAnalysis-magnitude-1">
        <h4 class="list-group-item-heading">
          1 hour
        </h4>
        <p class="list-group-item-text">
          Operational impact: Low; Financial impact: $30K
        </p>
        <button type="button" class="btn btn-link pull-right icon-only">
          <i class="fa fa-minus-circle"></i>
        </button>        
      </div>
      <div class="collapse" id="impactAnalysis-magnitude-1">
        <div class="list-group-item">
          <div class="form-group">
  	        <label class="control-label col-sm-5">Event magnitude</label>
  	        <div class="col-sm-7">
  		        <input class="form-control" type="text" placeholder="Event magnitude..." value="1 hour">
  	        </div>
          </div>
          <div class="form-group">
  	        <label class="control-label col-sm-5">Impact (operational)</label>
  	        <div class="col-sm-7">
  		        <div class="btn-group resilify-toggle-lowmediumhigh">
    		      	<button type="button" class="low active">L</button>
    		      	<button type="button" class="medium">M</button>
    		      	<button type="button" class="high">H</button>
    	        </div>
  	        </div>
          </div>
          <div class="form-group">
  	        <label class="control-label col-sm-5">Impact ($)</label>
  	        <div class="col-sm-7">
  		        <input class="form-control" type="text" placeholder="Impact ($)..." value="30K">
  	        </div>
          </div>
          <div class="form-group">
  	        <label class="control-label col-sm-5">Details</label>
  	        <div class="col-sm-7">
  		        <input class="form-control" type="text" placeholder="Details..." value="Q1, Q2, Q3">
  	        </div>
          </div>        
        </div>
      </div>
      <div class="list-group-item" data-toggle="collapse" data-parent="#impactAnalysis-magnitude" href="#impactAnalysis-magnitude-2">
        <h4 class="list-group-item-heading">
          1 day
        </h4>
        <p class="list-group-item-text">
          Operational impact: Medium; Financial impact: $250K
        </p>
        <button type="button" class="btn btn-link pull-right icon-only">
          <i class="fa fa-minus-circle"></i>
        </button>        
      </div>
      <div class="collapse" id="impactAnalysis-magnitude-2">
        <div class="list-group-item">
          <div class="form-group">
  	        <label class="control-label col-sm-5">Event magnitude</label>
  	        <div class="col-sm-7">
  		        <input class="form-control" type="text" placeholder="Event magnitude..." value="1 hour">
  	        </div>
          </div>
          <div class="form-group">
  	        <label class="control-label col-sm-5">Impact (operational)</label>
  	        <div class="col-sm-7">
  		        <div class="btn-group resilify-toggle-lowmediumhigh">
    		      	<button type="button" class="low">L</button>
    		      	<button type="button" class="medium active">M</button>
    		      	<button type="button" class="high">H</button>
    	        </div>
  	        </div>
          </div>
          <div class="form-group">
  	        <label class="control-label col-sm-5">Impact ($)</label>
  	        <div class="col-sm-7">
  		        <input class="form-control" type="text" placeholder="Impact ($)..." value="30K">
  	        </div>
          </div>
          <div class="form-group">
  	        <label class="control-label col-sm-5">Details</label>
  	        <div class="col-sm-7">
  		        <input class="form-control" type="text" placeholder="Details..." value="Q1, Q2, Q3">
  	        </div>
          </div>        
        </div>
      </div>
    </div>
      
    <legend>
      Mitigation opportunities
      <button type="button" class="btn btn-link pull-right icon-only">
        <i class="fa fa-plus-circle"></i>
      </button> 
    </legend>   
    
    <div class="list-group" id="impactAnalysis-mitigation">
      <div class="list-group-item" data-toggle="collapse" data-parent="#impactAnalysis-mitigation" href="#impactAnalysis-mitigation-1">
        <h4 class="list-group-item-heading">
          2nd call centre
        </h4>
        <p class="list-group-item-text">
          Operational impact: Low; Financial impact: $15K
        </p>
        <button type="button" class="btn btn-link pull-right icon-only">
          <i class="fa fa-minus-circle"></i>
        </button>        
      </div>
      <div class="collapse" id="impactAnalysis-mitigation-1">
        <div class="list-group-item">
	        <div class="form-group">
		        <label class="control-label col-sm-5">Mitigation opportunity</label>
		        <div class="col-sm-7">
			        <input class="form-control" type="text" placeholder="Mitigation opportunity..." value="2nd Call Centre">
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="control-label col-sm-5">Event magnitude</label>
		        <div class="col-sm-7">
			        <input class="form-control" type="text" placeholder="Event magnitude..." value="1 day">
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="control-label col-sm-5">Impact (operational)</label>
		        <div class="col-sm-7">
    	        <div class="btn-group resilify-toggle-lowmediumhigh">
    		      	<button type="button" class="low active">L</button>
    		      	<button type="button" class="medium">M</button>
    		      	<button type="button" class="high">H</button>
    	        </div>
   	        </div>
	        </div>
	        <div class="form-group">
		        <label class="control-label col-sm-5">Impact ($)</label>
		        <div class="col-sm-7">
			        <input class="form-control" type="text" placeholder="Impact ($)..." value="15K">
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="control-label col-sm-5">Details</label>
		        <div class="col-sm-7">
			        <input class="form-control" type="text" placeholder="Details..." value="Dolor sit amet, consectetur adipiscing elit.">
		        </div>
	        </div>       
        </div>
      </div>

      
    </form>
  </div>
  <div class="modal-footer">
    
  </div>
</div>

