<div>

      <div class="modal-header clearfix">

        <button class="btn btn-link show-details-form pull-left" ng-click="cancel()">
  	    	Edit Details
        </button>

		    <button type="button" class="btn btn-link icon-only pull-right" ng-click="saveItem(canvasItemForm)">
	      	<i class="fa fa-times fa-lg"></i>
	      </button>
        <button type="button" class="btn btn-link icon-only pull-right" 
          ng-if="!isNew"
          ng-click="deleteItem(item)">
          <i class="fa fa-trash fa-lg"></i>
        </button>
	    </div>

      <div class="modal-body" style="z-index:1100">

        <form name="canvasItemForm">

          <textarea 
            class="form-control canvas-item-title"
            autofocus="true"
            name="name"
            ng-model="item.name" placeholder="Enter title..."
            ng-required="true">
          </textarea>

        </form>

      </div>

</div>
