
  <!-- fixed top navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	    <ul class="nav navbar-nav navbar-left">
	      <li>
	        <a class="btn btn-link icon-only" ui-sref="dashboard">
	        	<i class="fa fa-lg fa-arrow-left"></i>
	        </a>
	      </li>
	    </ul>  
	    <ul class="nav navbar-nav navbar-right">
	      <li>
	        <p class="navbar-text hidden-xs">Last synced 12 mins ago</p>
	      </li>
	      <li>
	        <a class="btn btn-link icon-only hidden-xs" href="#">
	        	<i class="fa fa-lg fa-refresh"></i>
	        </a>
	      </li>
	      <li>
	        <a class="btn btn-link icon-only hidden-xs" href="#">
	  	      <i class="fa fa-lg fa-question-circle"></i>
	        </a>
	      </li>
	      <li>
	        <a class="btn btn-link icon-only hidden-xs" href="#">
	        	<i class="fa fa-lg fa-gear"></i>
	        </a>
	      </li>
	      <li>
	        <a class="btn btn-link icon-only visible-xs" href="#">
	        	<i class="fa fa-lg fa-bars"></i>
	        </a>
	      </li>
	    </ul>  
	      
	    <div class="navbar-header">
	      <span class="navbar-brand" title="Customers">
	      	{{plan.title}}
	      </span>  
	    </div>        
	  </div>
  </div>   


  <div class="container visible-xs">
    <div class="row">
	    <div class="col-sm-5 bootcards-list">
			  <div class="panel panel-default">
			    <div class="list-group bootcards-no-indicators resilify-mobile-categories" id="mobileCategories">
			      <a class="list-group-item clearfix" href="#">
			        <i class="fa fa-fw fa-table fa-2x pull-left"></i>
			        <h4 class="list-group-item-heading">Activities &amp; assets</h4>
			        <span class="badge">{{assetItems.length}}</span>
			      </a>
			      <a class="list-group-item clearfix" href="#">
			        <i class="fa fa-fw fa-table fa-2x pull-left"></i>
			        <h4 class="list-group-item-heading">Impact analysis</h4>
			        <span class="badge">{{impactItems.length}}</span>
			      </a>
			      <a class="list-group-item clearfix" href="#">
			        <i class="fa fa-fw fa-table fa-2x pull-left"></i>
			        <h4 class="list-group-item-heading">Risk Analysis</h4>
			        <span class="badge">{{riskItems.length}}</span>
			      </a>
			      <a class="list-group-item clearfix" href="#">
			        <i class="fa fa-fw fa-table fa-2x pull-left"></i>
			        <h4 class="list-group-item-heading">Strategies &amp; resources</h4>
			        <span class="badge">{{strategyItems.length}}</span>
			      </a>
			      <a class="list-group-item clearfix" href="#">
			        <i class="fa fa-fw fa-table fa-2x pull-left"></i>
			        <h4 class="list-group-item-heading">Response procedures</h4>
			        <span class="badge">{{procedureItems.length}}</span>
			      </a>
			      <a class="list-group-item clearfix" href="#">
			        <i class="fa fa-fw fa-file-o fa-2x pull-left"></i>
			        <h4 class="list-group-item-heading">Background &amp; context</h4>
			        <span class="badge">{{backgroundItems.length}}</span>
			      </a>
			      <a class="list-group-item clearfix" href="#">
			        <i class="fa fa-fw fa-users fa-2x pull-left"></i>
			        <h4 class="list-group-item-heading">Interested parties (?)</h4>
			        <span class="badge">3</span>
			      </a>
			      <a class="list-group-item clearfix" href="#">
			        <i class="fa fa-fw fa-users fa-2x pull-left"></i>
			        <h4 class="list-group-item-heading">Emergency contacts (?)</h4>
			        <span class="badge">3</span>
			      </a>
			    </div>
			  </div>		    
	    </div>
    </div>
  </div>


	<div class="resilify-canvas hidden-xs">

		<div class="canvas-row items">

			<!--activities/ assets -->
			<div class="canvas-section" id="activitiesAndAssets" ng-click="addCanvasItem('asset')">
				<h4>
					<a href="#" class="table-view-link">
						<i class="fa fa-fw fa-table"></i>
						<span class="badge">{{assetItems.length}}</span>
						Activities &amp; assets
					</a>
				</h4>
				<div class="canvas-item" ng-repeat="item in assetItems" 
					ng-style="{'left' : item.offsetLeft, 'top' : item.offsetTop}"
					ng-click="editCanvasItem(item)">
					{{item.name}}
				</div>									
			</div>

			<div class="canvas-section" id="impactAnalysis" ng-click="addCanvasItem('impact')">
				<h4>
					<a href="#" class="table-view-link">
						<i class="fa fa-fw fa-table"></i>
						<span class="badge">{{impactItems.length}}</span>
						Impact analysis
					</a>
				</h4>	
				<div class="canvas-item" ng-repeat="item in impactItems" 
				ng-style="{'left' : item.offsetLeft, 'top' : item.offsetTop}"
				ng-click="editCanvasItem(item)">
					{{item.name}}
				</div>	
			</div>
			<div class="canvas-section" id="riskAnalysis" ng-click="addCanvasItem('risk')">
				<h4>
					<a href="#" class="table-view-link">
						<i class="fa fa-fw fa-table"></i>
						<span class="badge">{{riskItems.length}}</span>
						Risk analysis
					</a>
				</h4>	
				<div class="canvas-item" ng-repeat="item in riskItems" 
				ng-style="{'left' : item.offsetLeft, 'top' : item.offsetTop}"
				ng-click="editCanvasItem(item)">
					{{item.name}}
				</div>							
			</div>
			<div class="canvas-section" id="strategiesAndResources" ng-click="addCanvasItem('strategy')">
				<h4>
					<a href="#" class="table-view-link">
						<i class="fa fa-fw fa-table"></i>
						<span class="badge">{{strategyItems.length}}</span>
						Strategies &amp; resources
					</a>
				</h4>
				<div class="canvas-item" ng-repeat="item in strategyItems" 
				ng-style="{'left' : item.offsetLeft, 'top' : item.offsetTop}"
				ng-click="editCanvasItem(item)">
					{{item.name}}
				</div>								
			</div>
			<div class="canvas-section" id="responseProcedures" ng-click="addCanvasItem('procedure')">
				<h4>
					<a href="#" class="table-view-link">
						<i class="fa fa-fw fa-table"></i>
						<span class="badge">{{procedureItems.length}}</span>
						Response procedures
					</a>
				</h4>
				<div class="canvas-item" ng-repeat="item in procedureItems" 
				ng-style="{'left' : item.offsetLeft, 'top' : item.offsetTop}"
				ng-click="editCanvasItem(item)">
					{{item.name}}
				</div>							
			</div>
		</div>
		<div class="canvas-row notes">
			<div class="canvas-section" id="backgroundAndContext" ng-click="addCanvasItem('background')">
				<h4>
					<a href="#" class="table-view-link">
						<i class="fa fa-fw fa-file-text-o"></i>
						<span class="badge">{{backgroundItems.length}}</span>
						Background &amp; context
					</a>
				</h4>	
				<div class="canvas-item note" ng-repeat="item in backgroundItems" 
				ng-style="{'left' : item.offsetLeft, 'top' : item.offsetTop}"
				ng-click="editCanvasItem(item)">
					{{item.name}}
				</div>					
			</div>			
		</div>
			
	</div>

<!-- Edit Details -->
<div class="modal fade" id="editCanvasItemDetails" tabindex="-1" role="dialog" aria-labelledby="editCanvasItemDetailsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header clearfix">
		    <div class="btn-group pull-left">
			    <button type="button" class="btn btn-default btn-back" data-dismiss="modal">
		      	Edit Label
		      </button>
		    </div>
		    <div class="btn-group pull-right">
			    <button type="button" class="btn btn-success" data-dismiss="modal">
		      	Done
		      </button>
		    </div>		    
	      <h4 class="modal-title">Edit Details</h4>
	    </div>
      <div class="modal-body">
        <form class="form-horizontal">
	        <div class="form-group">
		        <label class="control-label col-sm-5">Potential Event</label>
		        <div class="col-sm-7">
			        <input class="form-control" type="text" placeholder="Potential Event...">
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="control-label col-sm-5">Asset/Activity</label>
		        <div class="col-sm-7">
			        <input class="form-control" type="text" placeholder="Asset/Activity...">
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="control-label col-sm-5">Risk Scenario</label>
		        <div class="col-sm-7">
			        <input class="form-control" type="text" placeholder="Risk Scenario...">
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="control-label col-sm-5">Probability</label>
		        <div class="col-sm-7">
			        <div class="btn-group bootcards-radio-buttons">
				      	<button type="button" class="btn btn-default active">Low</button>
				      	<button type="button" class="btn btn-default">Medium</button>
				      	<button type="button" class="btn btn-default">High</button>
			        </div>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="control-label col-sm-5">Impact (People)</label>
		        <div class="col-sm-7">
			        <div class="btn-group bootcards-radio-buttons">
				      	<button type="button" class="btn btn-default">Low</button>
				      	<button type="button" class="btn btn-default">Medium</button>
				      	<button type="button" class="btn btn-default active">High</button>
			        </div>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="control-label col-sm-5">Impact (Property)</label>
		        <div class="col-sm-7">
			        <div class="btn-group bootcards-radio-buttons">
				      	<button type="button" class="btn btn-default">Low</button>
				      	<button type="button" class="btn btn-default active">Medium</button>
				      	<button type="button" class="btn btn-default">High</button>
			        </div>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="control-label col-sm-5">Impact (Operations)</label>
		        <div class="col-sm-7">
			        <div class="btn-group bootcards-radio-buttons">
				      	<button type="button" class="btn btn-default">Low</button>
				      	<button type="button" class="btn btn-default active">Medium</button>
				      	<button type="button" class="btn btn-default">High</button>
			        </div>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="control-label col-sm-5">Impact (Infotech)</label>
		        <div class="col-sm-7">
			        <div class="btn-group bootcards-radio-buttons">
				      	<button type="button" class="btn btn-default">Low</button>
				      	<button type="button" class="btn btn-default active">Medium</button>
				      	<button type="button" class="btn btn-default">High</button>
			        </div>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="control-label col-sm-5">Impact (Environment)</label>
		        <div class="col-sm-7">
			        <div class="btn-group bootcards-radio-buttons">
				      	<button type="button" class="btn btn-default">Low</button>
				      	<button type="button" class="btn btn-default">Medium</button>
				      	<button type="button" class="btn btn-default active">High</button>
			        </div>
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="control-label col-sm-5">Overall Risk Rating</label>
		        <div class="col-sm-7">
			        <input class="form-control" type="text" placeholder="">
		        </div>
	        </div>
	        <div class="form-group">
		        <label class="control-label col-sm-5">Mitigation Opportunities</label>
		        <div class="col-sm-7">
			      	<button class="btn btn-default">Add Mitigation Opportunity</button>
		        </div>
	        </div>
        </form>
      </div>
    </div>
  </div>
</div>	

<ng-include src="'/components/canvasAssets/canvasAssetsView.html'" />




<!-- Business Impact Analysis Table View -->
<div class="modal fade table-view-modal" id="impactAnalysisTableModal" tabindex="-1" role="dialog" aria-labelledby="impactAnalysisTableModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header">
		    <div class="btn-group pull-left visible-xs">
			    <button class="btn btn-link icon-only" data-toggle="dropdown" aria-expanded="false">
		      	<i class="fa fa-lg fa-gear"></i>
		      </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">
					    <i class="fa fa-lg fa-eye-slash"></i> 
					    Hide Mitigation
					  </a></li>
				    <li class="divider"></li>
				    <li><a href="#">
					    <i class="fa fa-lg fa-print"></i> 
					    Print
					  </a></li>
				  </ul>		      
		    </div>
		    <div class="btn-group pull-right">
			    <button class="btn btn-link hidden-xs">
		      	<i class="fa fa-lg fa-eye-slash"></i>
		      	<span>Hide Mitigation</span>
		      </button>
			    <button class="btn btn-link icon-only hidden-xs">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>
			    <button href="#" class="btn btn-link icon-only" data-dismiss="modal">
		      	<i class="fa fa-lg fa-times"></i>
		      </button>
		    </div>
		    <h4 class="modal-title">Business Impact Analysis</h4>	      
	    </div>
      <div class="modal-body">
				<div class="table-responsive">
					<table class="table resilify-table">
						<thead>
							<tr>
								<th><i class="fa fa-check"></i></th>
								<th>Activity / asset</th>
								<th>MTPD days</th>
								<th>RTO days</th>
								<th>RPO</th>
								<th>Event magnitude</th>
								<th>Impact (operational)</th>
								<th>Impact ($)</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td rowspan="4">
    							<a href="#" class="canvas-toggle active">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
								<td rowspan="4">
									Sales call centre
								</td>
								<td rowspan="4">7</td>
								<td rowspan="4">7</td>
								<td rowspan="4">n/a</td>
								<td>1 hour</td>
								<td>Small</td>
								<td>30K</td>
								<td>Q1, Q2, Q3</td>
							</tr>
							<tr>
								<td>1 day</td>
								<td>Medium</td>
								<td>250K</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
							</tr>
							<tr class="mitigation">
								<th colspan="4">MITIGATION OPPORTUNITY: 2nd Call Centre</th>
							</tr>
							<tr class="mitigation">
								<td>1 day</td>
								<td>Small</td>
								<td>15K</td>
								<td></td>
							</tr>
							<tr>
								<td>
    							<a href="#" class="canvas-toggle active">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
								<td>
									Sales call centre Q4
								</td>
								<td>7</td>
								<td>7</td>
								<td>n/a</td>
								<td></td>
								<td></td>
								<td>100K</td>
								<td>Q4</td>
							</tr>
						</tbody>
					</table>
				</div>
      </div>
    </div>
  </div>
</div>


<!-- Risk Analysis Table View -->
<div class="modal fade table-view-modal" id="riskAnalysisTableModal" tabindex="-1" role="dialog" aria-labelledby="riskAnalysisTableModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header">
		    <div class="btn-group pull-left visible-xs">
			    <button class="btn btn-link icon-only" data-toggle="dropdown" aria-expanded="false">
		      	<i class="fa fa-lg fa-gear"></i>
		      </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">
					    <i class="fa fa-lg fa-eye-slash"></i> 
					    Hide Mitigation
					  </a></li>
				    <li class="divider"></li>
				    <li><a href="#">
					    <i class="fa fa-lg fa-print"></i> 
					    Print
					  </a></li>
				  </ul>		      
		    </div>
		    <div class="btn-group pull-right">
			    <button class="btn btn-link hidden-xs">
		      	<i class="fa fa-lg fa-eye-slash"></i>
		      	<span>Hide Mitigation</span>
		      </button>
			    <button class="btn btn-link icon-only hidden-xs">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>
			    <button href="#" class="btn btn-link icon-only" data-dismiss="modal">
		      	<i class="fa fa-lg fa-times"></i>
		      </button>
		    </div>
		    <h4 class="modal-title">Risk Analysis</h4>	      
	    </div>
      <div class="modal-body">
				<div class="table-responsive">
					<table class="table resilify-table">
						<thead>
							<tr>
								<th rowspan="2"><i class="fa fa-check"></i></th>
								<th rowspan="2">Activity / asset</th>
								<th rowspan="2">Potential event</th>
								<th rowspan="2" class="text-center">Event Magnitude</th>
								<th rowspan="2" class="text-center">Probability</th>
								<th colspan="5" class="text-center">Impacts</th>
								<th rowspan="2" class="text-center">Overall Risk Rating</th>
							</tr>
							<tr>
								<th class="text-center">
									<i class="fa fa-2x fa-users"></i>
									People
								</th>
								<th class="text-center">
									<i class="fa fa-2x fa-building"></i>
									Property
								</th>
								<th class="text-center">
									<i class="fa fa-2x fa-gears"></i>
									Operations
								</th>
								<th class="text-center">
									<i class="fa fa-2x fa-database"></i>
									Infotech
								</th>
								<th class="text-center">
									<i class="fa fa-2x fa-leaf"></i>
									Environment
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
    							<a href="#" class="canvas-toggle active">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
								<td>
									Sales
								</td>
								<td>
									Loss of invoicing system
									<span class="subtitle">Likely Causes: Electrical Failure</span>
								</td>
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="high">H</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="high">H</span></td>
								<td><span class="rating">6</span></td>
							</tr>
							<tr>
								<td rowspan="5">
    							<a href="#" class="canvas-toggle active">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
								<td rowspan="5">
									Technical support
								</td>
								<td rowspan="5">
									Loss of building
									<span class="subtitle">Likely Causes: Fire, Flood, Earthquake</span>
								</td>
								<td rowspan="5"><span class="low">L</span></td>
								<td rowspan="5"><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="high">H</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="high">H</span></td>
								<td><span class="rating">6</span></td>	
							</tr>
							<tr class="mitigation">
								<th colspan="6">MITIGATION OPPORTUNITY: Name Goes Here Lorem Ipsum</th>
							</tr>
							<tr class="mitigation">
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="low">L</span></td>
								<td><span class="medium">M</span></td>
								<td><span class="rating">3</span></td>								
							</tr>
							<tr class="mitigation">
								<th colspan="6">MITIGATION OPPORTUNITY: Name Goes Here Lorem Ipsum</th>
							</tr>
							<tr class="mitigation">
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="low">L</span></td>
								<td><span class="rating">1</span></td>								
							</tr>
						</tbody>
					</table>
				</div>
      </div>
    </div>
  </div>
</div>



<!-- Strategies & Resources Table View -->
<div class="modal fade table-view-modal" id="strategiesAndResourcesTableModal" tabindex="-1" role="dialog" aria-labelledby="strategiesAndResourcesTableModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header">
		    <div class="btn-group pull-left visible-xs">
			    <button class="btn btn-link icon-only" data-toggle="dropdown" aria-expanded="false">
		      	<i class="fa fa-gear"></i>
		      </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">
					    <i class="fa fa-lg fa-eye-slash"></i> 
					    Hide Alternatives
					  </a></li>
				    <li class="divider"></li>
				    <li><a href="#">
					    <i class="fa fa-lg fa-print"></i> 
					    Print
					  </a></li>
				  </ul>		      
		    </div>
		    <div class="btn-group pull-right">
			    <button class="btn btn-link hidden-xs">
		      	<i class="fa fa-lg fa-eye-slash"></i>
		      	<span>Hide Alternatives</span>
		      </button>
			    <button class="btn btn-link icon-only hidden-xs">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>
			    <button href="#" class="btn btn-link icon-only" data-dismiss="modal">
		      	<i class="fa fa-lg fa-times"></i>
		      </button>
		    </div>
		    <h4 class="modal-title">Strategies &amp; Resources</h4>	 
	    </div>
      <div class="modal-body">
				<div class="table-responsive">
					<table class="table resilify-table">
						<thead>
							<tr>
								<th><i class="fa fa-check"></i></th>
								<th>Activity/asset</th>
								<th>Potential event</th>
								<th>Strategy option</th>
								<th>Resources required</th>
								<th>Units</th>
								<th>Cost per unit</th>
								<th>Total cost</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td rowspan="3">
    							<a href="#" class="canvas-toggle active">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
								<td rowspan="3">
									Sales
								</td>
								<td rowspan="3">Loss of entire building</td>
								<td>Work from home</td>
								<td>Employee homes</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
							</tr>
							<tr class="mitigation">
								<td>Relocate to Stevenage location</td>
								<td>Temporary office in Stevenage</td>
								<td>7 days</td>
								<td>$3k/day</td>
								<td>$21k</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
							</tr>
							<tr class="mitigation">
								<td>Relocate to London location</td>
								<td>Temporary office in London</td>
								<td>30 days</td>
								<td>$5k/day</td>
								<td>$150k</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
							</tr>
							<tr>
								<td rowspan="2">
    							<a href="#" class="canvas-toggle active">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
								<td rowspan="2">
									Technical support
								</td>
								<td rowspan="2">Fire in building</td>
								<td>Work from home</td>
								<td>Employee homes</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
							</tr>
							<tr class="mitigation">
								<td>Relocate to London location</td>
								<td>Temporary office in London</td>
								<td>30 days</td>
								<td>$5k/day</td>
								<td>$150k</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
							</tr>
						</tbody>
					</table>
				</div>
      </div>
    </div>
  </div>
</div>


<!-- Response Procedures Table View -->
<div class="modal fade table-view-modal" id="responseProceduresTableModal" tabindex="-1" role="dialog" aria-labelledby="responseProceduresTableModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header">
		    <div class="btn-group pull-left visible-xs">
			    <button class="btn btn-link icon-only">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>	      
		    </div>
		    <div class="btn-group pull-right">
			    <button class="btn btn-link icon-only hidden-xs">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>
			    <button href="#" class="btn btn-link icon-only" data-dismiss="modal">
		      	<i class="fa fa-lg fa-times"></i>
		      </button>
		    </div>
		    <h4 class="modal-title">Response Procedures</h4>
	    </div>
      <div class="modal-body">
				<div class="table-responsive">
					<table class="table resilify-table">
						<thead>
							<tr>
								<th><i class="fa fa-check"></i></th>
								<th>Activity/asset</th>
								<th>Potential event</th>
								<th>Response tasks</th>
								<th>Type</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td rowspan="7">
    							<a href="#" class="canvas-toggle active">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
								<td rowspan="7">
									Building
								</td>
								<td rowspan="7">
  								Loss of Entire Building
                  <span class="subtitle">Likely Causes: Fire, Flood, Earthquake</span>
  						  </td>
								<td>1. Activate team</td>
								<td rowspan="2">Activation</td>
								<td></td>
							</tr>
							<tr>
								<td>2. Get background info</td>
								<td></td>
							</tr>
							<tr>
								<td>3. Lorem ipsum</td>
								<td rowspan="3">Ongoing</td>
								<td></td>
							</tr>
							<tr>
								<td>4. Ipsum dolor</td>
								<td></td>
							</tr>
							<tr>
								<td>5. Dolor est compendium</td>
								<td></td>
							</tr>
							<tr>
								<td>6. Est compendium</td>
								<td rowspan="2">Deactivation</td>
								<td></td>
							</tr>
							<tr>
								<td>7. Head count</td>
								<td></td>
							</tr>
							<tr>
								<td rowspan="7">
    							<a href="#" class="canvas-toggle active">
      							<i class="fa fa-check"></i>
    							</a>
  							</td>
								<td rowspan="7">
									Building
								</td>
								<td rowspan="7">
  								Loss of Building - single floor
                  <span class="subtitle">Likely Causes: Fire, Flood, Earthquake</span>
  						  </td>
								<td>1. Activate team</td>
								<td rowspan="2">Activation</td>
								<td></td>
							</tr>
							<tr>
								<td>2. Get background info</td>
								<td></td>
							</tr>
							<tr>
								<td>3. Lorem ipsum</td>
								<td rowspan="3">Ongoing</td>
								<td></td>
							</tr>
							<tr>
								<td>4. Ipsum dolor</td>
								<td></td>
							</tr>
							<tr>
								<td>5. Dolor est compendium</td>
								<td></td>
							</tr>
							<tr>
								<td>6. Est compendium</td>
								<td rowspan="2">Deactivation</td>
								<td></td>
							</tr>
							<tr>
								<td>7. Head count</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
      </div>
    </div>
  </div>
</div>


<!-- Background & Context Table View -->
<div class="modal fade table-view-modal" id="backgroundAndContextTableModal" tabindex="-1" role="dialog" aria-labelledby="backgroundAndContextTableModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header">
		    <div class="btn-group pull-left visible-xs">
			    <button class="btn btn-link icon-only">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>
		    </div>
		    <div class="btn-group pull-right">
			    <button class="btn btn-link icon-only icon-only hidden-xs">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>
			    <button href="#" class="btn btn-link icon-only icon-only" data-dismiss="modal">
		      	<i class="fa fa-lg fa-times"></i>
		      </button>
		    </div>
		    <h4 class="modal-title">Background &amp; Context</h4>
	    </div>
      <div class="modal-body">
				<ul role="tablist" class="nav">
				  <li role="presentation" class="active">
				  	<a href="http://clients.jackherbert.com/resilify/board.html#allTypes" role="tab" data-toggle="tab">
					  	All
					  </a>
					</li>
				  <li role="presentation">
				  	<a href="http://clients.jackherbert.com/resilify/board.html#textNotes" role="tab" data-toggle="tab">
					  	Notes
					  </a>
					</li>
					<li role="presentation">
				  	<a href="http://clients.jackherbert.com/resilify/board.html#fileAttachments" role="tab" data-toggle="tab">
					  	Files
					  </a>
					</li>
					<li role="presentation">
				  	<a href="http://clients.jackherbert.com/resilify/board.html#improvementOpportunities" role="tab" data-toggle="tab">
					  	Improvement Opportunities
					  </a>
					</li>
				  <li role="presentation">
				  	<a href="http://clients.jackherbert.com/resilify/board.html#interestedParties" role="tab" data-toggle="tab">
					  	Interested Parties
					  </a>
					</li>
				</ul>
				<div class="tab-content">
					
					<div role="tabpanel" class="tab-pane active" id="allTypes">      
						<div class="table-responsive">
							<table class="table resilify-table">
								<thead>
									<tr>
										<th><i class="fa fa-check"></i></th>
										<th>Title</th>
										<th>Type</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Text Note</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>File Attachment</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Improvement Opportunity</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Interested Party</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Text Note</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>File Attachment</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Improvement Opportunity</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Interested Party</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Text Note</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>File Attachment</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Improvement Opportunity</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Title goes here</td>
      							<td>Interested Party</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane" id="textNotes">      
						<div class="table-responsive">
							<table class="table resilify-table">
								<thead>
									<tr>
										<th><i class="fa fa-check"></i></th>
										<th>Note Title</th>
										<th>Details</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Sample note title goes here</td>
      							<td>Sample note content goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada. In vulputate ipsum quis dui fermentum rhoncus.</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Sample note title goes here</td>
      							<td>Sample note content goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada. In vulputate ipsum quis dui fermentum rhoncus.</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Sample note title goes here</td>
      							<td>Sample note content goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada. In vulputate ipsum quis dui fermentum rhoncus.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane" id="fileAttachments">      
						<div class="table-responsive">
							<table class="table resilify-table">
								<thead>
									<tr>
										<th><i class="fa fa-check"></i></th>
										<th>File</th>
										<th>Description</th>
										<th>View</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>File title goes here</td>
      							<td>Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada.</td>
      							<td>
        							<a href="#">View File</a>
      							</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>File title goes here</td>
      							<td>Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada.</td>
      							<td>
        							<a href="#">View File</a>
      							</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>File title goes here</td>
      							<td>Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada.</td>
      							<td>
        							<a href="#">View File</a>
      							</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane" id="improvementOpportunities">      
						<div class="table-responsive">
							<table class="table resilify-table">
								<thead>
									<tr>
										<th><i class="fa fa-check"></i></th>
										<th>Improvement Opportunity</th>
										<th>Details</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Opportunity Title Goes Here</td>
      							<td>Sample note content goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada. In vulputate ipsum quis dui fermentum rhoncus.</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Opportunity Title Goes Here</td>
      							<td>Sample note content goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada. In vulputate ipsum quis dui fermentum rhoncus.</td>
									</tr>
									<tr>
										<td>
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
      							<td>Opportunity Title Goes Here</td>
      							<td>Sample note content goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vehicula odio, quis finibus lorem volutpat malesuada. In vulputate ipsum quis dui fermentum rhoncus.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane" id="interestedParties">      
						<div class="table-responsive">
							<table class="table resilify-table">
								<thead>
									<tr>
										<th><i class="fa fa-check"></i></th>
										<th>Interested party</th>
										<th>Contact name</th>
										<th>Email</th>
										<th>Phone</th>
										<th>Requirement</th>
										<th>Notes</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td rowspan="2">
        							<a href="#" class="canvas-toggle note active">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
										<td rowspan="2">
											Employees
										</td>
										<td rowspan="2">John Smith</td>
										<td rowspan="2"><a href="mailto:john@company.com">john@company.com</a></td>
										<td rowspan="2"><a href="tel:0123456789">(012) 345 6789</a></td>
										<td>1. Safety</td>
										<td></td>
									</tr>
									<tr>
										<td>2. What to do</td>
										<td></td>
									</tr>
									<tr>
										<td rowspan="3">
        							<a href="#" class="canvas-toggle note">
          							<i class="fa fa-check"></i>
        							</a>
      							</td>
										<td rowspan="3">
											Shareholders
										</td>
										<td rowspan="3">Dougie Freedman</td>
										<td rowspan="3"><a href="mailto:john@company.com">dougie@company.com</a></td>
										<td rowspan="3"><a href="tel:0123456789">(012) 987 6543</a></td>
										<td>1. Mitigation of financial impacts</td>
										<td></td>
									</tr>
									<tr>
										<td>2. Protection of brand reputation</td>
										<td></td>
									</tr>
									<tr>
										<td>3. Lorem ipsum dolor</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
	      </div>
      </div>
    </div>
  </div>
</div>


<!-- Mobile List -->
<div class="modal fade table-view-modal" id="mobileListModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header">
		    <div class="btn-group pull-left visible-xs">
			    <button class="btn btn-link icon-only icon-only">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>
		    </div>
		    <div class="btn-group pull-right">
			    <button class="btn btn-link icon-only icon-only hidden-xs">
		      	<i class="fa fa-lg fa-print"></i>
		      </button>
			    <button href="#" class="btn btn-link icon-only icon-only" data-dismiss="modal">
		      	<i class="fa fa-lg fa-times"></i>
		      </button>
		    </div>
		    <h4 class="modal-title">Risk analysis</h4>
	    </div>
			<div class="modal-body">
		    <div class="list-group resilify-mobile-list" id="mobileList">
		      <a class="list-group-item clearfix" href="#">
		        <h4 class="list-group-item-heading">Sales</h4>
		        <p class="list-group-item-text">Loss of invoicing system</p>
		      </a>
		      <a class="list-group-item clearfix" href="#">
		        <h4 class="list-group-item-heading">Technical Support</h4>
		        <p class="list-group-item-text">Loss of building</p>
		      </a>
		    </div>
    	</div>
    </div>
  </div>
</div>


<!-- Mobile Details -->
<div class="modal fade table-view-modal" id="mobileDetailsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header">
		    <div class="btn-group pull-left">
			    <button href="#" class="btn btn-link edit-button">
		      	Edit
		      </button>
		    </div>
		    <div class="btn-group pull-right">
			    <button href="#" class="btn btn-link icon-only icon-only" data-dismiss="modal">
		      	<i class="fa fa-lg fa-times"></i>
		      </button>
		    </div>
		    <h4 class="modal-title">Details</h4>
	    </div>
			<div class="modal-body">
		    <div class="list-group resilify-mobile-details">
		      <div class="list-group-item">
		        <p class="list-group-item-text">Activity/asset</p>
		        <h4 class="list-group-item-heading">Sales</h4>
		      </div>
		      <div class="list-group-item">
		        <p class="list-group-item-text">Potential event</p>
		        <h4 class="list-group-item-heading">Loss of invoicing system</h4>
		      </div>
		      <div class="list-group-item">
		        <p class="list-group-item-text">Probability</p>
		        <h4 class="list-group-item-heading">Low</h4>
		      </div>
		      <div class="list-group-item">
		        <p class="list-group-item-text">Impact (People)</p>
		        <h4 class="list-group-item-heading">Medium</h4>
		      </div>
		      <div class="list-group-item">
		        <p class="list-group-item-text">Impact (Property)</p>
		        <h4 class="list-group-item-heading">High</h4>
		      </div>
		      <div class="list-group-item">
		        <p class="list-group-item-text">Impact (Operations)</p>
		        <h4 class="list-group-item-heading">Medium</h4>
		      </div>
		      <div class="list-group-item">
		        <p class="list-group-item-text">Impact (Infotech)</p>
		        <h4 class="list-group-item-heading">Medium</h4>
		      </div>
		      <div class="list-group-item">
		        <p class="list-group-item-text">Impact (Environment)</p>
		        <h4 class="list-group-item-heading">Medium</h4>
		      </div>
		      <div class="list-group-item">
		        <p class="list-group-item-text">Overall Risk Rating</p>
		        <h4 class="list-group-item-heading">6</h4>
		      </div>
		      <div class="list-group-item">
		        <p class="list-group-item-text">Notes go here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris tellus, vehicula ut tellus id, suscipit dapibus tortor. Integer viverra turpis ac fringilla hendrerit.</p>
		        <p class="list-group-item-text">Sed faucibus posuere felis et pellentesque. Cras varius tortor vitae molestie tempor. Proin ut viverra elit, ac gravida tortor.</p>
		      </div>
		    </div>
    	</div>
    </div>
  </div>
</div>



<script>
	/* Canvas Toggle */
	$( ".canvas-toggle" ).click(function() {
  	event.stopPropagation();
  	
  	$(this).toggleClass("active");
  });	
	
	/* Items */
	

	
	$( ".canvas-row.items .canvas-item" ).click(function() {
		event.stopPropagation();
		$('#editCanvasItem').removeClass('note').modal('show');
	});
	
	/* Notes */
	
	$( ".canvas-row.notes .canvas-section" ).click(function() {
		$('#addCanvasItem').addClass('note').modal('show');
	});
	
	$( ".canvas-row.notes .canvas-item" ).click(function() {
		event.stopPropagation();
		$('#editCanvasItem').addClass('note').modal('show');
	});
	
	/* Details */
	
	$( ".show-details-form" ).click(function() {
		$('#editCanvasItemDetails').modal('show');
	});
	
	$( "#editCanvasItemDetails .btn-back" ).click(function() {
		$('#addCanvasItem').modal('show');
	});
	
	/* Table Modal links */
	
	$( "#activitiesAndAssets .table-view-link" ).click(function() {
		event.stopPropagation();
		$('#activitiesAndAssetsTableModal').modal('show');
	});
	
	$( "#impactAnalysis .table-view-link" ).click(function() {
		event.stopPropagation();
		$('#impactAnalysisTableModal').modal('show');
	});
	
	$( "#riskAnalysis .table-view-link" ).click(function() {
		event.stopPropagation();
		$('#riskAnalysisTableModal').modal('show');
	});
	
	$( "#strategiesAndResources .table-view-link" ).click(function() {
		event.stopPropagation();
		$('#strategiesAndResourcesTableModal').modal('show');
	});
	
	$( "#responseProcedures .table-view-link" ).click(function() {
		event.stopPropagation();
		$('#responseProceduresTableModal').modal('show');
	});
	
	$( "#backgroundAndContext .table-view-link" ).click(function() {
		event.stopPropagation();
		$('#backgroundAndContextTableModal').modal('show');
	});
	
	/* Edit Table Row */
	
	$( ".resilify-table tr" ).click(function() {
		$('#editCanvasItemDetails').modal('show');
	});
	
	/* Mobile */
	
	$( "#mobileCategories .list-group-item" ).click(function() {
		$('#mobileListModal').modal('show');
	});	
	
	$( "#mobileList .list-group-item" ).click(function() {
		$('#mobileDetailsModal').modal('show');
	});	
	
	$( ".edit-button" ).click(function() {
		$('#editCanvasItemDetails').modal('show');
	});	

</script>
