<div class="navbar navbar-inverse navbar-fixed-top resilify-navbar-centered" role="navigation">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li>
				<a class="btn btn-link icon-only" ui-sref="overview">
					<i class="fa fa-lg fa-arrow-left"></i>
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="btn btn-link icon-only" href="#">
					<i class="fa fa-lg fa-file-text"></i>
				</a>
			</li>
		</ul>

		<div class="navbar-header">
			<span class="navbar-brand">
				Address Book - {{ selectState }} - {{ organsiation }}
			</span>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9">
				<h4>Guidance goes here lorem ipsum</h4>
			</div>
			<div class="col-sm-3">
				<div class="btn-group btn-group-lg pull-right">
					<a href="" class="btn btn-link">
						<i class="fa fa-times-circle"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
