<div class="modal-dialog">
	<div class="modal-content">
		<form class="form-horizontal">
			<div class="modal-header clearfix">
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-link" data-dismiss="modal">
						<i class="fa fa-lg fa-check"></i>
					</button>
				</div>
				<h4 class="modal-title">Roles</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-default">
					<div class="panel-heading" href="#roles-1" data-toggle="collapse">
						<div class="form-group">
							<label class="control-label col-sm-3">Role Name</label>
							<div class="col-sm-9">
								<input class="form-control" type="text" value="Customer service">
							</div>
						</div>
						<div class="collapse" id="roles-1">
							<div class="form-group">
								<label class="control-label col-sm-3">Notes</label>
								<div class="col-sm-9">
									<textarea class="form-control" placeholder="optional"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" href="#roles-2" data-toggle="collapse">
						<div class="form-group">
							<label class="control-label col-sm-3">Role Name</label>
							<div class="col-sm-9">
								<input class="form-control" type="text" value="Another role">
							</div>
						</div>
						<div class="collapse" id="roles-2">
							<div class="form-group">
								<label class="control-label col-sm-3">Notes</label>
								<div class="col-sm-9">
									<textarea class="form-control" placeholder="optional"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button class="btn btn-link btn-block">
					Add another role
				</button>
			</div>
		</form>
	</div>
</div>
