<div class="modal-header">
    <h3 class="modal-title">All versions</h3>
</div>

<div class="modal-body">

    <table class="table table-striped"><tbody>

		<tr ng-repeat="page in versions">

			<td>{{page.version}}</td>
			<td>{{page.createdBy}}</td>
			<td>{{page.created | date : 'medium'}}</td>

			<td>
				
				<button type="button" class="btn btn-warning btn-sm" 
					ng-click="rollback(page)"
					ng-show="!page.currentVersion">rollback</button>
				<span ng-show="page.currentVersion">(current)</span>
			</td>

		</tr>

	</tbody></table>

</div>

<div class="modal-footer">
	<button class="btn btn-default" ng-click="dismiss()">
		Close
	</button>
	</div>
</div>
